.main{
    width: 55%;
    margin: 0 auto;
    margin-bottom: 20px;

    .order-info{

        .image{
            border-radius: 50%; 
            width: 80px; 
            height: 80px;
        }
        .title{
            color: black;
            font-weight: bold;
        }
    }

    .divider{
        margin-left: 7rem;
        width: 80%;
    }

    .order-details{
        .element{
            margin-left: 7rem;
            .price{
                display: inline;
            }

            .quantity{
                display: inline;
                margin-left: 2rem;
            }

            .total{
                display: inline;
                margin-left: 3rem;
                color: black;
            }
        }
    }
}

.img-cards {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}