<md-card>
    <md-card-title>Facebook</md-card-title>
    <md-card-subtitle>{{'RESTAURANT.ADD_FACEBOOK_LINK' | translate}}</md-card-subtitle>
    <md-card-content>
        <form [formGroup]="_restaurantFacebookForm" (ngSubmit)="updateFacebookLink()">
            <md-input-container style="width: 100%;" type="url">
                <input mdInput formControlName="facebookLink" placeholder="{{'RESTAURANT.FACEBOOK_LINK' | translate}}">
            </md-input-container>
            <div>
                <button md-raised-button class="secondary-button" type="button" (click)="close()">{{'CANCEL' | translate}}</button>
                <button md-raised-button class="primary-button" type="submit">{{'UPDATE' | translate}}</button>
            </div>
        </form>
    </md-card-conten>
</md-card>