<div style="border-bottom: 0.55px solid #c8c7cc; width: 90%; margin: auto;"></div>

<div class="item-block" style="margin: 16px 0">
    <img class="img-cards" src="assets/img/my-orders.png" style="width: 50px; height: 50px;">
    <div class="custom-header-title">
        <div *ngIf="ordersConfirm" class="custom-label">
            <h2>{{'MOBILE.ORDERS.ORDER' | translate}}{{orderCon.code}}</h2> 
            <p>{{'MOBILE.ORDERS.TOTAL' | translate}}{{orderCon.totalPayment}} {{_currency}}</p>
        </div>
        <div *ngIf="!ordersConfirm" class="custom-label">
            <h2>{{'MOBILE.ORDERS.ORDER' | translate}}{{orderCon.code}}</h2> 
            <p>{{orderCon.status | translate}}</p>  
        </div>
    </div>
    <button *ngIf="ordersConfirm" ion-button small item-right outline (click)="showConfirm(orderCon)">{{'MOBILE.ORDERS.CONFIRM' | translate}}</button>
</div>