<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'MOBILE.PAYMENTS.ADD_ORDER' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <hr showWhen="android"/>

    <ion-card>
        <ion-card-content>
            <ion-item style="padding-left: 0;">
                <ion-thumbnail item-left>
                    <img src="assets/img/table-whitout-background.png">
                </ion-thumbnail>
                <h2 style="font-weight: bold;">
                    {{'MOBILE.ORDER_PAYMENT_TRANS.CONSULT_TABLE_ORDERS_TITLE' | translate}}
                </h2>
            </ion-item>
            <p>
                {{'MOBILE.ORDER_PAYMENT_TRANS.CONSULT_TABLE_ORDERS_SUBTITLE' | translate}}
            </p>
            <button ion-button small text-left outline (click)="goToAddOrders()">{{'MOBILE.PAYMENTS.ADD_ORDER' | translate}}</button>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-card-title style="font-weight: bold;">
                {{'MOBILE.ORDER_PAYMENT_TRANS.ORDERS_TO_CONFIRM_TITLE' | translate}}
            </ion-card-title>
            <p style="margin-bottom: 8px;">
                {{'MOBILE.ORDER_PAYMENT_TRANS.ORDER_TO_CONFIRM' | translate}}
            </p>
            <h4 *ngIf="(_ordersToConfirm | async)?.length <= 0">{{'MOBILE.ORDER_PAYMENT_TRANS.NO_ORDERS' | translate}}</h4>
    
            <div *ngFor="let orderCon of _ordersToConfirm | async">
                <order-payment-detail [orderCon]="orderCon" [ordersConfirm]="true"></order-payment-detail>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-card-title style="font-weight: bold;">
                {{'MOBILE.ORDER_PAYMENT_TRANS.ORDERS_TO_PAY_TITLE' | translate}}
            </ion-card-title>
            <p style="margin-bottom: 8px;">
                {{'MOBILE.ORDER_PAYMENT_TRANS.PENDING_ORDERS' | translate}}
            </p>
            <h4 *ngIf="(_ordersWithPendingConfirmation | async)?.length <= 0">
                {{'MOBILE.ORDER_PAYMENT_TRANS.NO_ORDERS' | translate}}
            </h4>

            <div *ngFor="let orderPendingConfirmation of _ordersWithPendingConfirmation | async">
                <div *ngIf="orderPendingConfirmation.creation_user != _currentUserId">
                    <order-payment-detail [orderCon]="orderPendingConfirmation" [ordersConfirm]="false"></order-payment-detail>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>