<ion-header>
    <ion-navbar>
        <ion-title>{{'MOBILE.PAYMENTS_HISTORY.TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card style="margin: 0; width: 100%; box-shadow: none;">
        <ion-card-content>
            <div class="display-inline">
                <ion-avatar item-left>
                    <img class="img-cards" src="/assets/img/restaurante.png">
                </ion-avatar>
                <div style="display: block">
                    <h2>{{_invoice.restaurant_name}}</h2>
                    <p>{{_invoice.creation_date | date: 'dd MMM yyyy HH:mm'}}</p>
                </div>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-item-group *ngFor="let item of _invoice.items">
        <ion-item-divider color="light">{{item.quantity}} {{item.item_name}} {{item.price}} {{_invoice.currency}}</ion-item-divider>
        <ion-item *ngFor="let gf of item.garnish_food">{{item.quantity}} {{gf.garnish_food_name}} {{gf.price}} {{_invoice.currency}}</ion-item>
        <ion-item *ngFor="let ad of item.additions">{{item.quantity}} {{ad.addition_name}} {{ad.price}} {{_invoice.currency}}</ion-item>
    </ion-item-group>
    
    <ion-item-group *ngFor="let addition of _invoice.additions">
        <ion-item-divider color="light">{{addition.quantity}} {{addition.addition_name}} {{addition.price}} {{_invoice.currency}}</ion-item-divider>
    </ion-item-group>

</ion-content>

<ion-footer class="ion-footer-custom" padding>
    <ion-item>
        <!--h4>{{'MOBILE.PAYMENTS.PAYMENT_METHOD' | translate}}:</h4-->
        <div style="display: -webkit-inline-box; width: 100%; line-height: 30px;">
            <img *ngIf="_invoice.pay_method == 'PAYMENT_METHODS.CASH'" class="img-footer img-cards" src="assets/img/pago.png">
            <img *ngIf="_invoice.pay_method == 'PAYMENT_METHODS.CREDIT_CARD'" class="img-footer img-cards" src="assets/img/pago_tarjeta_credito.png">
            <img *ngIf="_invoice.pay_method == 'PAYMENT_METHODS.DEBIT_CARD'" class="img-footer img-cards" src="assets/img/pago_tarjeta_debito.png">
            <img *ngIf="_invoice.pay_method == 'PAYMENT_METHODS.ONLINE'" class="img-footer img-cards" src="assets/img/payment-online.png">
            <p style="line-height: inherit">
                {{_invoice.pay_method | translate}}
            </p>
        </div>
        <div style="position: relative">
            <h4>{{ 'MOBILE.PAYMENTS_HISTORY.TOTAL_ORDERS' | translate }}</h4>
            <p style="position: absolute; right: 0; top: 0;">{{_invoice.total_order}} {{_invoice.currency}}</p>
        </div>
        <div style="position: relative">
            <h4>{{ 'MOBILE.PAYMENTS_HISTORY.TIP' | translate }}</h4>
            <p style="position: absolute; right: 0; top: 0;">{{_invoice.total_tip}} {{_invoice.currency}}</p>
        </div>
    </ion-item>
    <h1 style="display: inline-block;">{{ 'MOBILE.PAYMENTS_HISTORY.TOTAL' | translate }}</h1>
    <h1 style="display: inline-block; position: absolute; right: 15px;">{{_invoice.total_pay}} {{_invoice.currency}}</h1>
</ion-footer>