<md-card class="landing-welcome-card">
  <md-card-content>
      <div class="left-content custom">
          <div class="content">
              <md-card-title>
                  {{'ADMIN_DASHBOARD.TITLE' | translate}}
              </md-card-title>
              <md-card-subtitle>
                  {{'ADMIN_DASHBOARD.CARD_CONTENT' | translate}}
              </md-card-subtitle>
          </div>
      </div>
      <div class="action-links custom">
          <a class="dashboard-links" [routerLink]="['/app/restaurant']">
              <md-icon class="vertical-align-middle" md-tooltip="{{'ADMIN_DASHBOARD.LINK.NEW_RESTAURANT' | translate}}">store</md-icon>
              {{'ADMIN_DASHBOARD.LINK.NEW_RESTAURANT' | translate}}
          </a>
          <a class="dashboard-links" [routerLink]="['/app/collaborators']">
              <md-icon class="vertical-align-middle" md-tooltip="{{'ADMIN_DASHBOARD.LINK.NEW_COLLABORATOR' | translate}}">person</md-icon>
              {{'ADMIN_DASHBOARD.LINK.NEW_COLLABORATOR' | translate}}
          </a>
      </div>
  </md-card-content>
</md-card>

<md-card *ngFor="let restaurant of _restaurants | async" class="custom-cards">
  <div>
      <span class="mat-card-title title">{{restaurant.name}}</span>
      <span class="mat-card-subtitle">{{restaurant.address}}</span>
  </div>
  <md-card-content>
      <ul class="list">
          <li>
              <md-icon style="color: #81C784;" class="vertical-align-middle" md-tooltip="{{'ADMIN_DASHBOARD.SALES' | translate}}">local_atm</md-icon>
              <label>{{getDailySales( restaurant._id)}} {{getRestaurantCurrency( restaurant.currencyId )}}</label>
          </li>
          <li>
              <md-icon style="color: #90CAF9;" class="vertical-align-middle" md-tooltip="{{'ADMIN_DASHBOARD.USERS' | translate}}">person</md-icon>
              <label>{{getRestaurantUsers( restaurant._id )}} {{'ADMIN_DASHBOARD.USERS' | translate}}</label>
          </li>
          <li>
              <md-icon style="color: #81C784;" class="vertical-align-middle" md-tooltip="{{'ADMIN_DASHBOARD.FREE' | translate}}">check</md-icon>
              <label>{{getTablesWithFreeStatus( restaurant._id )}} {{'ADMIN_DASHBOARD.FREE' | translate}}</label>
          </li>
          <li>
              <md-icon style="color: #EF5350;" class="vertical-align-middle" md-tooltip="{{'ADMIN_DASHBOARD.BUSY' | translate}}">not_interested</md-icon>
              <label>{{getTablesWithBusyStatus( restaurant._id )}} {{'ADMIN_DASHBOARD.BUSY' | translate}}</label>
          </li>
          <li>
              <md-icon style="color: #FDD835;" class="vertical-align-middle" md-tooltip="{{'ADMIN_DASHBOARD.ITEMS' | translate}}">thumb_up</md-icon>
              <label>{{getItemsSold( restaurant._id )}} {{'ADMIN_DASHBOARD.ITEMS' | translate}}</label>
          </li>
      </ul>
  </md-card-content>
</md-card>

<md-card md-cell="12" class="demo-card demo-basic" *ngIf="(_restaurants | async)?.length <= 0">
  <md-card-content>
      <div class="card_initial">
          <div class="card_initial has-image">
              <div class="card_initial-image-container">
                  <img class="card_initial-image" 
                      src="/images/restaurante.png"/>
              </div>
              <div class="card_initial-copy">
                  <div class="card_initial-tagline">
                      {{'ADMIN_DASHBOARD.THERE_NOT_RESTAURANTS' | translate}}
                  </div>
                  <div class="card_initial-additional-links">
                    {{'ADMIN_DASHBOARD.MESSAGE' | translate}}
                  </div>
              </div>
              <div class="card_initial-button">
                  <button md-raised-button (click)="goToAddRestaurant()">{{'ADMIN_DASHBOARD.RESTAURANT_REGISTER' | translate}}</button>
              </div>
          </div>
      </div>
  </md-card-content>
</md-card>