<md-card>
  <md-card-title>{{'SECTIONS.SECTION_CREATION' | translate}}</md-card-title>
  <md-card-subtitle>{{'SECTIONS.SECTION_TEXT' | translate}}</md-card-subtitle>
  <md-card-content>
    <form [formGroup]="_sectionForm" (ngSubmit)="addSection();">
      <table style="width: 100%" cellspacing="0" style="margin-bottom: 10px">
        <tr>
            <td>
              <md-input-container style="width: 50%">
                <input mdInput required formControlName="name" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="50" #inputName>
                <md-hint align="end">{{inputName.value.length}} / 50</md-hint>
              </md-input-container>
            </td>
        </tr>
        <tr>
          <td>
            <md-input-container style="width: 100%">
              <textarea mdInput formControlName="description" placeholder="{{'DESCRIPTION' | translate}}" maxlength="150" #inputDesc></textarea>
              <md-hint align="end">{{inputDesc.value.length}} / 150</md-hint>
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label>{{'SECTIONS.RESTAURANT_SECTION' | translate}}</label> 
            <p><label *ngIf="!_showRestaurants" class="label-field-void">{{'SECTIONS.NO_RESTAURANT_CREATED' | translate}}</label></p>
            <div *ngIf="_showRestaurants" formGroupName="restaurants" style="padding-top: 20px">
              <md-checkbox *ngFor="let restaurant of _restaurantList" [formControlName]="restaurant.name" [class.invalid]="!_sectionForm.controls.restaurants.valid" style="padding-right: 15px">{{restaurant.name}}</md-checkbox>
              <label></label>
            </div>
          </td>
        </tr>
      </table>
      <button md-raised-button class="button-secundary" [disabled]="!_sectionForm.valid" type="button" (click)="cancel()">{{'CANCEL' | translate}}</button>
      <button md-raised-button class="button-primary" [disabled]="!_sectionForm.valid" type="submit">{{'CREATE' | translate}}</button>
    </form>
  </md-card-content>
</md-card>
<md-card class="card-toolbar">
  <md-card-content>
    <table class="responsive-table highlight centered">
      <thead>
      <tr>
        <th data-field="dataName">{{'NAME' | translate}}</th>
        <th data-field="dataDesc">{{'DESCRIPTION' | translate}}</th>
        <th data-field="dataRest">{{'SECTIONS.RESTAURANTS' | translate}}</th>
        <th data-field="dataModDate">{{'MODIFICATION_DATE' | translate}}</th>
        <th data-field="dataIsActive">{{'STATE' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let section of _sections | async | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{section.name}}</td>
        <td>
          <label *ngIf="!section.description" class="label-field-void">{{'SECTIONS.NO_DESCRIPTION' | translate}}</label>
          <div>{{section.description}}</div>
        </td>
        <td>
          <label *ngIf="section.restaurants.length == 0" class="label-field-void">{{'SECTIONS.NO_RESTAURANT' | translate}}</label>
          <div *ngFor="let rst of _restaurants | async">
            <div *ngFor="let secRest of section.restaurants">
              <div *ngIf="rst._id == secRest">
                {{rst.name}}
              </div>              
            </div>
          </div>
        </td>
        <td>{{section.modification_date | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td>
          <md-slide-toggle [(checked)]="section.is_active" (change)="updateStatus(section)"></md-slide-toggle>
        </td>
        <td>
          <button md-icon-button md-tooltip="Modify" (click)="open(section)">
            <md-icon>create</md-icon>
          </button>
        </td>              
      </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </md-card-content>
</md-card>