<md-card class="card-toolbar">
    <md-card-content>
        <form [formGroup]="_restaurantForm">
            <md-tab-group [(selectedIndex)]="selectedIndex">
                <md-tab [disabled]="!canMove(0)" label="{{'RESTAURANT_REGISTER.GENERAL_LABEL' | translate}}">
                    <md-card>
                        <md-card-title>{{'RESTAURANT_REGISTER.GENERAL_INFO' | translate}}</md-card-title>
                        <md-card-subtitle>{{'RESTAURANT_REGISTER.GENERAL_INFO_TEXT' | translate}}</md-card-subtitle>
                        <md-card-content>
                            <div style="margin-top: 3%;">
                                <md-select formControlName="country" placeholder="{{'RESTAURANT_REGISTER.SELECT_COUNTRY' | translate}}" style="width: 45%;"
                                    [(ngModel)]="_selectedCountryValue">
                                    <md-option *ngFor="let country of _countries | async" (click)="changeCountry(country._id);" value="{{country._id}}"> {{country.alfaCode3}} - {{country.name | translate}}</md-option>
                                </md-select>
                                <md-select formControlName="city" placeholder="{{'RESTAURANT_REGISTER.SELECT_CITY' | translate}}" style="width: 45%;margin-left: 2%;"
                                    [(ngModel)]="_selectedCityValue">
                                    <md-option *ngFor="let city of _cities | async" (click)="changeCity(city._id);" value="{{city._id}}">{{city.name}}</md-option>
                                </md-select>
                            </div>
                            <div style="margin-top: 1%;">
                                <md-input-container style="width: 45%">
                                    <textarea mdInput required formControlName="name" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="70" #inputName></textarea>
                                    <md-hint align="end">{{inputName.value.length}} / 70</md-hint>
                                </md-input-container>
                                <md-input-container style="width: 45%;margin-left: 2%;">
                                    <textarea mdInput required formControlName="address" placeholder="{{'RESTAURANT_REGISTER.ADDRESS' | translate}}" minlength="1"
                                        maxlength="90" #inputAddress></textarea>
                                    <md-hint align="end">{{inputAddress.value.length}} / 90</md-hint>
                                </md-input-container>
                            </div>
                            <div style="margin-top: 1%;">
                                <div style="width: 30%; display: inline-block;text-align: center;">
                                    <p*ngIf="_restaurantCurrency === ''">{{'RESTAURANT_REGISTER.NO_CURRENCY_FOUND' | translate}}</p>
                                        <p *ngIf="_restaurantCurrency !== ''" style="font-weight: bold;">{{'RESTAURANT_REGISTER.CURRENCY_ACCEPTED' | translate}}: {{_restaurantCurrency}}</p>
                                </div>
                                <md-input-container style="width: 30%">
                                    <input mdInput required formControlName="phone" type="tel" placeholder="{{'RESTAURANT_REGISTER.PHONE' | translate}}" minlength="1"
                                        maxlength="30" #inputPhone>
                                    <div mdPrefix>{{_countryIndicative}}&nbsp;</div>
                                    <md-hint align="end">{{inputPhone.value.length}} / 30</md-hint>
                                </md-input-container>
                                <md-input-container style="width: 30%;margin-left: 2%;">
                                    <input mdInput formControlName="webPage" placeholder="{{'RESTAURANT_REGISTER.WEBPAGE' | translate}}" minlength="1" maxlength="40"
                                        #inputWebpage>
                                    <md-hint align="end">{{inputWebpage.value.length}} / 40</md-hint>
                                </md-input-container>
                            </div>
                            <div style="margin-top: 1%;">
                                <md-input-container style="width: 35%">
                                    <input mdInput formControlName="email" type="email" placeholder="{{'RESTAURANT_REGISTER.EMAIL' | translate}}" minlength="1"
                                        maxlength="40" #inputEmail>
                                    <md-hint align="end">{{inputEmail.value.length}} / 40</md-hint>
                                </md-input-container>
                                <div style="display: inline-block;width: 50%;margin-left: 2%;text-align: center;">
                                    <p style="display: inline-block;">{{'RESTAURANT_REGISTER.ADD_RESTAURANT_IMAGE' | translate}}</p>
                                    <input formControlName="image" accept=".png, .jpg, .jpeg" (change)="onChangeImage($event)" style="display: none" type="file"
                                        name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected"
                                    />
                                    <label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                                    <span *ngIf="!_createImage">{{'CHOOSE_FILE' | translate}}&hellip;</span>
                                    <span *ngIf="_createImage">{{_nameImageFile}}&hellip;</span>
                                </label>
                                </div>
                            </div>
                        </md-card-content>
                        <md-card-actions align="end">
                            <button md-raised-button (click)="cancel()">{{'CANCEL' | translate}}</button>
                            <button md-raised-button (click)="next()" [disabled]="!canMove(1)">{{'NEXT' | translate}}</button>
                        </md-card-actions>
                    </md-card>
                </md-tab>
                <md-tab [disabled]="!canMove(1)" label="{{'RESTAURANT_REGISTER.FINANCIAL_LABEL' | translate}}">
                    <md-card>
                        <md-card-title>{{'RESTAURANT_REGISTER.FINANCIAL_INFO' | translate}}</md-card-title>
                        <md-card-subtitle>{{'RESTAURANT_REGISTER.FINANCIAL_INFO_TEXT' | translate}}</md-card-subtitle>
                        <md-card-content>
                            <iu-financialform *ngIf="_showFinancialElements" [financialElements]="_financialElements" (restaurantFinancialInfo)="setRestaurantFinancialInfo($event)"></iu-financialform>
                            <div>
                                <p>{{'RESTAURANT_REGISTER.ADD_PAYMENTMETHODS_RESTURANT' | translate}}</p>
                                <div formGroupName="paymentMethods">
                                    <md-checkbox *ngFor="let payment of _paymentMethodsList" [formControlName]="payment.name" [class.invalid]="!_restaurantForm.controls.paymentMethods.valid"
                                        style="padding-right: 15px">{{payment.name}}</md-checkbox>
                                    <label></label>
                                </div>
                            </div>
                        </md-card-content>
                        <md-card-actions align="end">
                            <button md-raised-button (click)="previous()" [disabled]="!canMove(0)">{{'BACK' | translate}}</button>
                            <button md-raised-button (click)="next()" [disabled]="!canMove(2)">{{'NEXT' | translate}}</button>
                        </md-card-actions>
                    </md-card>
                </md-tab>
                <md-tab [disabled]="!canMove(2)" label="{{'RESTAURANT_REGISTER.SCHEDULE_LABEL' | translate}}">
                    <md-card>
                        <md-card-title>{{'RESTAURANT_REGISTER.SCHEDULE_INFO' | translate}}</md-card-title>
                        <md-card-subtitle>{{'RESTAURANT_REGISTER.SCHEDULE_INFO_TEXT' | translate}}</md-card-subtitle>
                        <md-card-content>
                            <div style="padding-top: 15px;text-align: -webkit-center;">
                                <iu-schedule (finalSchedule)="receiveSchedule($event)"></iu-schedule>
                            </div>
                        </md-card-content>
                        <md-card-actions align="end">
                            <button md-raised-button (click)="previous()" [disabled]="!canMove(1)">{{'BACK' | translate}}</button>
                            <button md-raised-button [disabled]="!canFinish()" (click)="addRestaurant()">{{'FINISH' | translate}}</button>
                        </md-card-actions>
                    </md-card>
                </md-tab>
                <md-tab label="{{'RESTAURANT_REGISTER.NUMBER_TABLE_LABEL' | translate}}">
                    <md-card>
                        <md-card-title>{{'RESTAURANT_REGISTER.NUMBER_TABLE_LABEL_INFO' | translate}}</md-card-title>
                        <md-card-subtitle>{{'RESTAURANT_REGISTER.NUMBER_TABLE_LABEL_INFO_TEXT' | translate}}</md-card-subtitle>
                        <md-card-content>
                            <md-radio-group formControlName="plans" [(ngModel)]="align">
                                <md-list>
                                    <md-list-item *ngFor="let plan of _restaurantPlans | async">
                                        <md-radio-button class="example-margin" value="{{plan.planCode}}">{{plan.planCode}}</md-radio-button>
                                    </md-list-item>
                                </md-list>
                            </md-radio-group>
                        </md-card-content>
                        <md-card-actions align="end">
                            <button md-raised-button (click)="previous()" [disabled]="!canMove(1)">{{'BACK' | translate}}</button>
                            <button md-raised-button [disabled]="!canFinish()" (click)="addRestaurant()">{{'FINISH' | translate}}</button>
                        </md-card-actions>
                    </md-card>
                </md-tab>
            </md-tab-group>
        </form>
    </md-card-content>
</md-card>