<div *ngFor="let or of _ordersTable | async; let in = index">
    <md-toolbar class="other-order" (click)="showOthersOrderDetail(or,in)">
        <i class="fa fa-list-alt" aria-hidden="true" class="order-icon"></i>
        <span class="order-code">{{'ORDER_TRANS.ORDERS' | translate}} # {{or.code}}</span>
        <span>{{'ORDER_TRANS.TOTAL' | translate}}: {{or.totalPayment}} {{_currencyCode}}</span>
        <span class="app-flex-filler"></span>
        <span class="order-status">{{'ORDER_TRANS.STATUS' | translate}}: {{or.status | translate}}</span>
        <button md-raised-button class="pay-button" (click)="markOrderToPay(or)">{{'ORDER_TRANS.PAY' | translate}}</button>
    </md-toolbar>
    <md-card *ngIf="_orderOthersIndex == in">
        <md-card-content>
            <md-list *ngIf="(or.items.length > 0)">
                <span *ngFor="let item of _items | async">
                    <span *ngFor="let it of or.items">
                        <template [ngIf]="item._id === it.itemId">
                            <md-list-item>
                                <img md-list-avatar class="item-image" src="{{ getItemImage(item._id) }}">
                                <h4 md-line>{{item.name}}</h4>
                                <h5 md-line>
                                    {{'ORDER_TRANS.PRICE' | translate}}: {{it.paymentItem}} {{_currencyCode}} - {{'ORDER_TRANS.QUANT' | translate}} {{it.quantity}}
                                    <div *ngIf="it.garnishFood.length > 0" class="order-item-garnishFood"> - {{'ORDER_TRANS.GARNISH_FOOD' | translate}}: {{it.garnishFood.length}}</div>
                                    <div *ngIf="it.additions.length > 0" class="order-item-additions"> - {{'ORDER_TRANS.ADDITIONS' | translate}}: {{it.additions.length}}</div>
                                </h5>
                            </md-list-item>
                            <md-divider></md-divider>
                        </template>
                    </span>
                </span>
            </md-list>
            <md-list *ngIf="(or.additions.length > 0)">
                <span *ngFor="let addition of _additions | async">
                    <span *ngFor="let ad of or.additions">
                        <template [ngIf]="addition._id === ad.additionId">
                            <md-list-item>
                                <img md-list-avatar class="item-image" src="/images/default-plate.png">
                                <h4 md-line>{{addition.name}} <div class="addition-message">({{'ORDER_TRANS.ADDITION' | translate}})</div></h4>
                                <p md-line>{{'ORDER_TRANS.PRICE' | translate}}: {{ad.paymentAddition}} {{_currencyCode}} - {{'ORDER_TRANS.QUANT' | translate}} {{ad.quantity}}</p>
                            </md-list-item>
                            <md-divider></md-divider>
                        </template>
                    </span>
                </span>
            </md-list>
        </md-card-content>
    </md-card>
</div>
<md-card>
    <md-card-title *ngIf="(_ordersTable | async)?.length <= 0">{{'ORDER_TRANS.NO_ORDERS' | translate}}</md-card-title>
    <button md-raised-button color="primary" (click)="close()">{{'CLOSE' | translate}}</button>
</md-card>