<ion-header>
    <ion-navbar>
        <ion-title>{{'MOBILE.PAYMENTS_HISTORY.TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngFor="let invoice of _invoices | async;">
        <ion-card>
            <ion-card-content>
                <div class="display-inline">
                    <ion-avatar item-left>
                        <img *ngIf="invoice.pay_method == 'PAYMENT_METHODS.CASH'" class="img-cards" src="assets/img/pago.png">
                        <img *ngIf="invoice.pay_method == 'PAYMENT_METHODS.CREDIT_CARD'" class="img-cards" src="assets/img/pago_tarjeta_credito.png">
                        <img *ngIf="invoice.pay_method == 'PAYMENT_METHODS.DEBIT_CARD'" class="img-cards" src="assets/img/pago_tarjeta_debito.png">
                        <img *ngIf="invoice.pay_method == 'PAYMENT_METHODS.ONLINE'" class="img-cards" src="assets/img/payment-online.png">
                    </ion-avatar>
                    <h2 class="font-weight">{{invoice.restaurant_name}}</h2>
                </div>
                <div class="display-inline card-content">
                    <p>{{invoice.total_pay}} {{invoice.currency}}</p>
                    <p class="date">{{invoice.creation_date | date: 'dd MMM yyyy HH:mm'}}</p>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>