<md-card>
    <md-card-title>{{'MONTHLY_INVOICE.TITLE' | translate }}</md-card-title>
    <md-card-subtitle>{{'MONTHLY_INVOICE.SUBTITLE' | translate}}</md-card-subtitle>
    <md-card-content style="background: #FFF">
        <table *ngFor="let currency of _currencies | async" class="striped" width="100%">
            <thead>
                <tr>
                    <th data-field="name" style="width: 40%">{{'MONTHLY_INVOICE.RESTAURANT_NAME' | translate}}</th>
                    <th data-field="restaurant_price" style="width: 20%">{{'MONTHLY_INVOICE.RESTAURANT_PRICE' | translate}}</th>
                    <th data-field="tables_number" style="width: 30%">{{'MONTHLY_INVOICE.TABLES_NUMBER' | translate}}</th>
                    <th data-field="tables_price">{{'MONTHLY_INVOICE.TABLES_PRICE' | translate}}</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let restaurant of _restaurants | async">
                    <td *ngIf="restaurant.currencyId == currency._id">{{restaurant.name}}</td>
                    <div *ngFor="let country of _countries | async">
                        <td *ngIf="restaurant.currencyId == currency._id && restaurant.countryId == country._id">{{country.restaurantPrice}}</td>
                    </div>
                    <td *ngIf="restaurant.currencyId == currency._id" >{{getActiveTables(restaurant._id)}}</td>
                    <td *ngIf="restaurant.currencyId == currency._id" >{{getTablePrice(restaurant._id)}}</td>
                </tr>

            </tbody>
        </table>
    </md-card-content>
</md-card>