
<div *ngFor="let or of _ordersTable | async; let in = index">
    <mat-toolbar class="customer-order" (click)="showOthersOrderDetail(or,in)">
        <img class="order" src="/images/my-orders.png">
        <div class="mt-div">
            <span>{{'ORDER_TRANS.ORDERS' | translate}} # {{or.code}}</span>
            <span>{{'ORDER_TRANS.TOTAL' | translate}}: {{or.totalPayment}} {{_currencyCode}}</span>
            <span>{{'ORDER_TRANS.STATUS' | translate}}: {{or.status | translate}}</span>
            <button mat-raised-button class="primary-button" (click)="markOrderToPay(or)">{{'ORDER_TRANS.PAY' | translate}}</button>
        </div>
    </mat-toolbar>

    <mat-list (click)="showOthersOrderDetail(or,in)">
        <mat-list-item>
            <img mat-list-icon src="/images/my-orders.png">
            <h4 mat-line>{{'ORDER_TRANS.ORDERS' | translate}} # {{or.code}}</h4>
            <p mat-line>{{'ORDER_TRANS.TOTAL' | translate}}: {{or.totalPayment}} {{_currencyCode}}</p>
            <p mat-line>{{'ORDER_TRANS.STATUS' | translate}}: {{or.status | translate}}</p>
            <button mat-raised-button class="primary-button" (click)="markOrderToPay(or)">{{'ORDER_TRANS.PAY' | translate}}</button>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>

    <mat-card *ngIf="_orderOthersIndex == in">
        <mat-card-content>
            <mat-list *ngIf="(or.items.length > 0)">
                <span *ngFor="let item of _items | async">
                    <span *ngFor="let it of or.items">
                        <ng-template [ngIf]="item._id === it.itemId">
                            <mat-list-item>
                                <img mat-list-avatar class="custom br" *ngIf="item.image" src="{{ item.image.url }}">
                                <img mat-list-avatar class="custom br" *ngIf="!item.image" src="/images/default-plate.png">
                                <h4 mat-line>{{item.name}}</h4>
                                <h5 mat-line>
                                    {{'ORDER_TRANS.PRICE' | translate}}: {{it.paymentItem}} {{_currencyCode}} - {{'ORDER_TRANS.QUANT' | translate}} {{it.quantity}}
                                    <div *ngIf="it.garnishFood.length > 0" class="order-item"> - {{'ORDER_TRANS.GARNISH_FOOD' | translate}}: {{it.garnishFood.length}}</div>
                                    <div *ngIf="it.additions.length > 0" class="order-item"> - {{'ORDER_TRANS.ADDITIONS' | translate}}: {{it.additions.length}}</div>
                                </h5>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </ng-template>
                    </span>
                </span>
            </mat-list>
            <mat-list *ngIf="(or.additions.length > 0)">
                <span *ngFor="let addition of _additions | async">
                    <span *ngFor="let ad of or.additions">
                        <ng-template [ngIf]="addition._id === ad.additionId">
                            <mat-list-item>
                                <img mat-list-avatar class="custom br" src="/images/default-plate.png">
                                <h4 mat-line>{{addition.name}} <div class="addition-message">({{'ORDER_TRANS.ADDITION' | translate}})</div></h4>
                                <p mat-line>{{'ORDER_TRANS.PRICE' | translate}}: {{ad.paymentAddition}} {{_currencyCode}} - {{'ORDER_TRANS.QUANT' | translate}} {{ad.quantity}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </ng-template>
                    </span>
                </span>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>

<mat-dialog-actions>
    <button mat-raised-button (click)="close()" *ngIf="(_ordersTable | async)?.length > 0">{{'CLOSE' | translate}}</button>
</mat-dialog-actions>

<div class="card_initial" *ngIf="(_ordersTable | async)?.length <= 0">
    <div class="card_initial has-image">
    <div class="card_initial-image-container">
        <img class="card_initial-image" src="/images/tables.png"/>
    </div>
    <div class="card_initial-copy">
        <div class="card_initial-tagline">
            {{'ORDER_TRANS.NO_ORDERS' | translate}}
        </div>
    </div>
    <div class="card_initial-button">
        <button mat-raised-button (click)="close()">{{'CLOSE' | translate}}</button>
    </div>
    </div>
</div>