<md-card class="card-toolbar">
  <md-card-content>
    <form [formGroup]="_collaboratorRegisterForm">
        <md-tab-group [(selectedIndex)]="_selectedIndex">
            <md-tab [disabled]="!canMove(0)" label="{{'COLLABORATORS_REGISTER.COLLABORATORS_LABEL' | translate}}">
                <md-card>
                    <md-card-title>{{'COLLABORATORS_REGISTER.GENERAL_INFO' | translate}}</md-card-title>
                    <md-card-subtitle>{{'COLLABORATORS_REGISTER.GENERAL_INFO_TEXT' | translate}}</md-card-subtitle>
                    <md-card-content>
                        <table style="width: 100%" cellspacing="0">
                            <tr>
                                <td style="width: 50%">
                                    <md-select required formControlName="restaurant_work" placeholder="{{'COLLABORATORS_REGISTER.SELECT_RESTAURANT' | translate}}" style="width: 100%;">
                                        <md-option *ngFor="let rest of _restaurants | async" value="{{rest._id}}" (click)="validateRestaurantSelection(rest._id)">{{rest.name}}</md-option>
                                    </md-select>
                                </td>
                                <td>
                                    <md-select required formControlName="role" placeholder="{{'COLLABORATORS_REGISTER.SELECT_ROLE' | translate}}" style="width: 100%;">
                                        <md-option *ngFor="let rol of _roles | async" value="{{rol._id}}" (click)="validateRole(rol)" >{{rol.name | translate}}</md-option>
                                    </md-select>
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%" cellspacing="0">
                            <tr>
                                <td colspan="3" style="padding-top: 10px;">
                                    <md-input-container style="width: 100%">
                                        <input mdInput required formControlName="name" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="70" #inputName/>
                                        <md-hint align="end">{{inputName.value.length}} / 70</md-hint>
                                    </md-input-container>
                                </td>
                                <td colspan="3" style="padding-top: 10px;">
                                    <md-input-container style="width: 100%">
                                        <input mdInput required formControlName="last_name" placeholder="{{'LAST_NAME' | translate}}" minlength="1" maxlength="70" #inputAddress/>
                                        <md-hint align="end">{{inputAddress.value.length}} / 70</md-hint>
                                    </md-input-container>
                                </td>
                            </tr>
                        </table>   
                        <table style="width: 100%" cellspacing="0">
                            <tr>
                                <td colspan="1" style="padding-top: 10px; width: 50%">
                                    <md-input-container style="width: 100%">
                                        <input mdInput [mdDatepicker]="picker" placeholder="{{'BIRTHDATE' | translate}}" formControlName="birthdate">
                                        <button mdSuffix [mdDatepickerToggle]="picker"></button>
                                    </md-input-container>
                                    <md-datepicker #picker></md-datepicker>
                                </td>
                                <td colspan="2" style="padding-top: 10px;">
                                    <md-input-container style="width: 100%">
                                        <input mdInput formControlName="phone" placeholder="{{'PHONE' | translate}}" #inputPhone/>
                                        <md-hint align="end">{{inputPhone.value.length}} / 40</md-hint>
                                    </md-input-container>
                                </td>
                            </tr>
                            <tr *ngIf="_showTablesSelect && _showTablesSelectByRest">
                                <td colspan="1" style="padding-top: 10px; width: 50%">
                                    <md-checkbox class="checkbox" (change)="pushSelectArray($event)">{{'COLLABORATORS_REGISTER.TABLES_ASSIGNMENT' | translate}}</md-checkbox>
                                    <md-select style="width: 100px;" formControlName="table_init" [disabled]="_disabledTablesAssignment">
                                        <md-option *ngFor="let index of _tablesNumber" value="{{index}}" >{{index}}</md-option>
                                    </md-select>
                                    &nbsp;
                                    <md-select style="width: 100px;" formControlName="table_end" [disabled]="_disabledTablesAssignment">
                                        <md-option *ngFor="let index of _tablesNumber" value="{{index}}">{{index}}</md-option>
                                    </md-select>
                                </td>
                            </tr>
                        </table>
                    </md-card-content>
                    <md-card-actions align="end">
                        <button md-raised-button class="secondary-button" (click)="cancel()">{{'CANCEL' | translate}}</button>
                        <button md-raised-button *ngIf="!canMove(1)" disabled>{{'NEXT' | translate}}</button>
                        <button md-raised-button class="primary-button" (click)="next()"  *ngIf="canMove(1)">{{'NEXT' | translate}}</button>
                    </md-card-actions>
                </md-card>
            </md-tab>
            
            <md-tab [disabled]="!canMove(1)" label="{{'COLLABORATORS_REGISTER.USER_LABEL' | translate}}">
                <md-card>
                    <md-card-title>{{'COLLABORATORS_REGISTER.USER_INFO' | translate}}</md-card-title>
                    <md-card-subtitle>{{'COLLABORATORS_REGISTER.USER_INFO_TEXT' | translate}}</md-card-subtitle>
                    <md-card-content>
                        <table style="width: 100%" cellspacing="0">
                            <tr>
                                <td>
                                    <md-input-container style="width: 10%">
                                        <input mdInput value="{{_userPrefix}}" disabled/>
                                    </md-input-container>
                                    <md-input-container style="width: 89%">
                                        <input mdInput #uname required formControlName="username" placeholder="{{'USERNAME' | translate}}"/>
                                    </md-input-container>
                                    <p>{{'COLLABORATORS_REGISTER.USERS_ROL' | translate}}<span style="font-weight: bold;">{{_selectedRol | translate}}</span>{{'COLLABORATORS_REGISTER.PREFIX' | translate}}<span style="font-weight: bold;">{{_userPrefix}}</span>. {{'COLLABORATORS_REGISTER.USER_NAME_WILL_BE' | translate}}<span style="font-weight: bold;">{{_userPrefix}}{{uname.value}}</span></p>
                                    <div *ngIf="_collaboratorRegisterForm.controls['username'].hasError('required') && _collaboratorRegisterForm.controls['username'].touched" class="error-message">{{'SIGNUP.REQUIRED_USERNAME' | translate}}</div>
                                    <div *ngIf="_collaboratorRegisterForm.controls['username'].hasError('minlength') && _collaboratorRegisterForm.controls['username'].touched" class="error-message">{{'SIGNUP.MIN_LENGTH_USERNAME' | translate}}</div>
                                    <div *ngIf="_collaboratorRegisterForm.controls['username'].hasError('maxlength') && _collaboratorRegisterForm.controls['username'].touched" class="error-message">{{'SIGNUP.MAX_LENGTH_USERNAME' | translate}}</div>
                                    <div *ngIf="_collaboratorRegisterForm.controls['username'].hasError('invalidNoSpacesValidator') && _collaboratorRegisterForm.controls['username'].touched" class="error-message">{{'SIGNUP.NO_SPACES' | translate}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <md-input-container style="width: 100%">
                                        <input mdInput style="width: 60%"  formControlName="email" placeholder="{{'EMAIL' | translate}}" name="email"/>
                                    </md-input-container>
                                    <!--div *ngIf="_collaboratorRegisterForm.controls['email'].hasError('invalidEmailAddress') && _collaboratorRegisterForm.controls['email'].touched" class="error-message">{{'SIGNUP.REQUIRED_EMAIL' | translate}}</div-->
                                    <div *ngIf="_collaboratorRegisterForm.controls['email'].hasError('minlength') && _collaboratorRegisterForm.controls['email'].touched" class="error-message">{{'SIGNUP.MIN_LENGTH_EMAIL' | translate}}</div>
                                    <div *ngIf="_collaboratorRegisterForm.controls['email'].hasError('maxlength') && _collaboratorRegisterForm.controls['email'].touched" class="error-message">{{'SIGNUP.MAX_LENGTH_EMAIL' | translate}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <md-input-container style="width: 100%">
                                        <input mdInput style="width: 60%"  formControlName="password" placeholder="{{'PASSWORD' | translate}}" name="password" required type="password"/>
                                    </md-input-container>
                                    <div *ngIf="_collaboratorRegisterForm.controls['password'].hasError('required') && _collaboratorRegisterForm.controls['password'].touched" class="error-message">{{'SIGNUP.REQUIRED_PASSWORD' | translate}}</div>
                                    <div *ngIf="_collaboratorRegisterForm.controls['password'].hasError('minlength') && _collaboratorRegisterForm.controls['password'].touched" class="error-message">{{'SIGNUP.MIN_LENGTH_PASSWORD' | translate}}</div>
                                    <div *ngIf="_collaboratorRegisterForm.controls['password'].hasError('maxlength') && _collaboratorRegisterForm.controls['password'].touched" class="error-message">{{'SIGNUP.MAX_LENGTH_PASSWORD' | translate}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <md-input-container style="width: 100%">
                                        <input mdInput style="width: 60%"  formControlName="confirmPassword" placeholder="{{'CONFIRM_PASSWORD' | translate}}" name="confirmPassword" required type="password"/>
                                    </md-input-container>
                                    <div *ngIf="_collaboratorRegisterForm.controls['confirmPassword'].hasError('required') && _collaboratorRegisterForm.controls['confirmPassword'].touched" class="error-message">{{'SIGNUP.REQUIRED_PASSWORD' | translate}}</div>
                                    <div *ngIf="_collaboratorRegisterForm.controls['confirmPassword'].hasError('minlength') && _collaboratorRegisterForm.controls['confirmPassword'].touched" class="error-message">{{'SIGNUP.MIN_LENGTH_PASSWORD' | translate}}</div>
                                    <div *ngIf="_collaboratorRegisterForm.controls['confirmPassword'].hasError('maxlength') && _collaboratorRegisterForm.controls['confirmPassword'].touched" class="error-message">{{'SIGNUP.MAX_LENGTH_PASSWORD' | translate}}</div>
                                </td>
                            </tr>
                        </table>
                    </md-card-content>
                    <md-card-actions align="end">
                        <button md-raised-button class="secondary-button" (click)="previous()" [disabled]="!canMove(0)">{{'BACK' | translate}}</button>
                        <button md-raised-button class="primary-button" (click)="register()" [disabled]="!canMove(2)">{{'CREATE' | translate}}</button>
                    </md-card-actions>
                </md-card>
            </md-tab>
        </md-tab-group>
    </form>
  </md-card-content>
</md-card>