<md-card style="box-shadow: none">
    <md-card-title>{{'PAYU_PAYMENT_FORM.DIALOG_TITLE' | translate}}</md-card-title>
    <md-card-subtitle>{{'PAYU_PAYMENT_FORM.DIALOG_PLEASE' | translate}}</md-card-subtitle>
    <md-card-content>
        <md-list>
            <md-list-item>
                <img md-list-avatar class="image" src="/images/restaurantes.png">
                <h2 md-line class="card-title">{{'PAYU_PAYMENT_FORM.IUREST_SERVICE' | translate}}</h2>
                <p md-line *ngFor="let restaurant of _restaurants | async"> - {{restaurant.name}}</p>
            </md-list-item>
        </md-list>
        <md-list>
            <md-list-item>
                <img md-list-avatar class="image" src="/images/orders.png">
                <h2 md-line class="card-title">{{'PAYU_PAYMENT_FORM.PERSONAL_INFO' | translate}}</h2>
                <p md-line>{{data.streetone}}</p>
                <p md-line>{{data.city}}, {{data.country | translate}}</p>
                <p md-line>{{data.fullname}}</p>
                <p md-line>{{'PAYU_PAYMENT_FORM.PERSONAL_TEL' | translate}} {{data.telephone}}</p>
            </md-list-item>
        </md-list>
        <md-list>
            <md-list-item>
                <img md-list-avatar class="image" src="{{data.ccmethod}}">
                <h2 md-line class="card-title">{{'PAYU_PAYMENT_FORM.PAY' | translate}}</h2>
                <p md-line>{{'PAYU_PAYMENT_FORM.CARD_FINISHED_IN' | translate}}{{_cardNumber}}</p>
            </md-list-item>
        </md-list>
        <md-list>
            <md-list-item>
                <img md-list-avatar class="image" src="/images/pago_tarjeta_credito.png">
                <h2 md-line class="card-title">{{'PAYU_PAYMENT_FORM.PRICE' | translate}} <span style="font-weight: 600">{{data.price}} {{data.currency}}</span></h2>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions align="end">
        <button md-raised-button class="button-secundary" (click)="cancel()">{{ 'PAYU_PAYMENT_FORM.PAY_CANCEL' | translate }}</button>
        <button md-raised-button class="button-primary" (click)="closeConfirm()">{{ 'PAYU_PAYMENT_FORM.PAY_CONFIRM' | translate }}</button>
    </md-card-actions>
</md-card>