$sidenav-primary-color : #F5F5F5;
$sidenav-secondary-color : #EEEEEE;
$menu-navegation-color : #F5F5F5;

$sidenav-width: 225px;

.fixed-menu-sidenav {
    position: fixed;
	top: 66px;
    left: 0;
    height: auto;
	width: $sidenav-width;
}

md-nav-list {

    margin-top: 6px;
    margin-left: 24px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 24px 0px;
    border-radius: 2px;

    .nav-children {
        padding-top: 0;
        overflow: hidden;

        &:not(.no-animation) {
        transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
        &:not(.active) {
            transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
            height: 0 !important;
        }
        }

        &.no-animation:not(.active) {
        height: 0 !important;
        }

        &.shrink {
        > * > a > .mat-list-item-content {
            height: 36px;
        }
        }

        $base-padding: 16px;
        $base-color-change: 3%;

        a:hover, a.active {
        > .mat-list-item-content > span.title {
            color: $sidenav-secondary-color;
        }
        }

        &.level1 a {
        > .mat-list-item-content {
            padding-left: $base-padding * 2;
            background-color: darken($menu-navegation-color, $base-color-change);
        }
        &:hover, &.active {
            > .mat-list-item-content {
            background-color: darken($menu-navegation-color, $base-color-change * 2);
            }
        }
        }
        &.level2 a {
        > .mat-list-item-content {
            padding-left: $base-padding * 3;
            background-color: darken($menu-navegation-color, $base-color-change * 2);
        }
        &:hover, &.active {
            > .mat-list-item-content {
            background-color: darken($menu-navegation-color, $base-color-change * 3);
            }
        }
        }
        &.level3 a {
        > .mat-list-item-content {
            padding-left: $base-padding * 4;
            background-color: darken($menu-navegation-color, $base-color-change * 3);
        }
        &:hover, &.active {
            > .mat-list-item-content {
            background-color: darken($menu-navegation-color, $base-color-change * 4);
            }
        }
        }
        &.level4 a {
        > .mat-list-item-content {
            padding-left: $base-padding * 5;
            background-color: darken($menu-navegation-color, $base-color-change * 4);
        }
        &:hover, &.active {
            > .mat-list-item-content {
            background-color: darken($menu-navegation-color, $base-color-change * 5);
            }
        }
        }
        &.level5 a {
        > .mat-list-item-content {
            padding-left: $base-padding * 6;
            background-color: darken($menu-navegation-color, $base-color-change * 5);
        }
        &:hover, &.active {
            > .mat-list-item-content {
            background-color: darken($menu-navegation-color, $base-color-change * 6);
            }
        }
        }
    }
}

md-nav-list > a {
    align-items: center;
    background-color: #EF5350;
    color: #fff;
    font-weight: 500;
    letter-spacing: .14px;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;

    .mat-list-item-content{
        font-size: 14px;
    }

    md-icon {
        height: 18px;
        font-size: 18px;
    }
}

.main {
    position: relative;
    display: block;
    height: 100%;
    overflow: auto;
    margin-left: $sidenav-width;
    margin-right: 0px;
    top: -38px;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

    .cards{
        width: 350px;
        display: inline-block; 
        margin-right: 20px; 
        vertical-align: top;
    }

    .crop {
        height: 200px;
        overflow: hidden;
        margin: 0 -24px 0px;
    }

    .crop img {
        width: calc(100% + 48px);
        height: 35vh;
        margin: 0 -15px 0px;
    }

    .title-font{
        font-family: "Open Sans",Arial,sans-serif;
    }
}

#item-detail{
    display: block;
    position: fixed; 
    top: 66px;
    right: -396px;
    width: 396px;
    height: 100%;
    margin-top: 6px;
    overflow-y : auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

    .header-detail {
        position: fixed;
        background-color: #fff;
        padding: 24px;
        width: 348px;
        z-index: 999;

        label {
            font-family: Roboto,"Helvetica Neue",sans-serif;
            font-size: 24px;
            font-weight: 400;
            color: #114b5f;
        }

        i {
            font-size: 20px; 
            color: #114b5f
        }
    }
    
    .content {
        position: static;
        height: 100%;
        width: 348px;
        margin-bottom: 24px;
    }

    .crop {
        margin: 0 -26px 16px;
        margin-top: 48px;
        img {
            width: calc(100% + 24px);
        }
    }
    
    .item-detail-card {
        width: 348px;
        background-color: transparent;
        box-shadow: none;
    }

}


.item-detail-shadow {
    -webkit-box-shadow: -10px 0px 25px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: -10px 0px 25px 0px rgba(0,0,0,0.15);
    box-shadow: -10px 0px 25px 0px rgba(0,0,0,0.15);
}

.btn-close {
    position: absolute;
    top: 16px;
    right: 0;
    box-shadow: none;
    background-color: transparent;
    min-width: 0px;
}

.fixed-action-btn {
    position: fixed;
	bottom: 30px;
	right: 35px;
	width: 56px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.available-button{
    color: #D50000; 
    font-weight: bold;
    display: inline-block;
    margin-left: 10%;
}

.quantity-button {
    background: #E53935;
    min-height: 30px !important;
    min-width: 65px !important;
    font-size: 20px !important;
    line-height: 0px;
}

.color-button-icon {
    color: white;
}

.inline-block {
    display: inline-block;
}

.quantity-count{
    display: inline-block;
    width: 60%;
}