<div class="fixed-menu-sidenav">
    <md-nav-list [ngStyle]="{'height': auto}">
        <a class="mat-list-item" (click)="showAllItems()">
            <div class="mat-list-item-content">
                <md-icon>restaurant_menu</md-icon>{{'ORDER_CREATE.SHOW_ALL' | translate}}
            </div>
        </a>
        <order-menu-option *ngFor="let menu of _orderMenus" [orderMenu]="menu" [parent]="_this" (idToEvaluate)="evaluateId($event)"></order-menu-option>
    </md-nav-list>
</div>
<div id="content" class="main">
    <md-grid-list [cols]="_numberColums" rowHeight="380px">
        <span *ngFor="let section of _sections | async" >
            <span *ngFor="let item of _items | async">
                <template [ngIf]="item.sectionId === section._id && item.categoryId === '' && item.subcategoryId === ''">
                    <md-grid-tile>
                        <md-card id="card-main" class="cards">
                            <md-card-header>
                                <md-card-title>{{item.name}}</md-card-title>
                                <md-card-subtitle>{{'ORDER_CREATE.PRICE' | translate}}: {{item.price}}</md-card-subtitle>
                            </md-card-header>
                            <div class="crop">
                                <img src="{{item.urlImage}}">
                            </div>
                            <md-card-actions>
                                <button md-button (click)="showItemInformation(item)">{{'ORDER_CREATE.VIEW_DETAIL' | translate}}</button>
                                <p *ngIf="!item.isAvailable" class="available-button">{{'ORDER_CREATE.UNAVAILABLE' | translate}}</p>
                            </md-card-actions>
                        </md-card>
                    </md-grid-tile>
                </template>
            </span>
            <span *ngFor="let category of _categories | async">
                <template [ngIf]="category.section === section._id">
                    <span *ngFor="let item of _items | async">
                        <template [ngIf]="item.sectionId === section._id && item.categoryId === category._id && item.subcategoryId === ''">
                            <md-grid-tile>
                                <md-card class="cards">
                                    <md-card-header>
                                        <md-card-title>{{item.name}}</md-card-title>
                                        <md-card-subtitle>{{'ORDER_CREATE.PRICE' | translate}}: {{item.price}}</md-card-subtitle>
                                    </md-card-header>
                                    <div class="crop">
                                        <img md-card-image src="{{item.urlImage}}">
                                    </div>
                                    <md-card-actions>
                                        <button md-button (click)="showItemInformation(item)">{{'ORDER_CREATE.VIEW_DETAIL' | translate}}</button>
                                        <p *ngIf="!item.isAvailable" class="available-button">{{'ORDER_CREATE.UNAVAILABLE' | translate}}</p>
                                    </md-card-actions>
                                </md-card>
                            </md-grid-tile>
                        </template>
                    </span>
                    <span *ngFor="let subcategory of _subcategories | async">
                        <template [ngIf]="subcategory.category === category._id">
                            <span *ngFor="let item of _items | async">
                                <template [ngIf]="item.sectionId === section._id && item.categoryId === category._id && item.subcategoryId === subcategory._id">
                                    <md-grid-tile>
                                        <md-card id="card-main" class="cards">
                                            <md-card-header>
                                                <md-card-title>{{item.name}}</md-card-title>
                                                <md-card-subtitle>{{'ORDER_CREATE.PRICE' | translate}}: {{item.price}}</md-card-subtitle>
                                            </md-card-header>
                                            <div class="crop">
                                                <img src="{{item.urlImage}}">
                                            </div>
                                            <md-card-actions>
                                                <button md-button (click)="showItemInformation(item)">{{'ORDER_CREATE.VIEW_DETAIL' | translate}}</button>
                                                <p *ngIf="!item.isAvailable" class="available-button">{{'ORDER_CREATE.UNAVAILABLE' | translate}}</p>
                                            </md-card-actions>
                                        </md-card>
                                    </md-grid-tile>
                                </template>
                            </span>
                        </template>
                    </span>
                </template>
            </span>
        </span>
    </md-grid-list>
</div>
<button id="fb" class="fixed-action-btn" md-fab (click)="finishOrderCreation(true)"><md-icon class="color-button-icon">keyboard_arrow_left</md-icon></button>
<div id="item-detail">
    <div *ngIf="_showItemDetails">
        <div *ngFor="let itemDet of _itemDetail | async">
            <div class="header-detail" #headerDetailCard>
                <button class="btn-close" md-raised-button (click)="viewItemDetail(true)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <label>{{itemDet.name}}</label>
            </div>
            <md-card id="card" class="item-detail-card">
                <md-card-content>
                    <div class="crop">
                        <img src="{{itemDet.urlImage}}">
                    </div>
                    <div class="content">
                        <md-card-subtitle>{{itemDet.description}}</md-card-subtitle>
                        <div>{{setMaxGarnishFoodElements(itemDet.garnishFoodQuantity)}}</div>
                        <md-card-subtitle>{{'ORDER_CREATE.PRICE' | translate}}: {{itemDet.price}}</md-card-subtitle>
                        <p *ngIf="!itemDet.isAvailable" class="available-button">{{'ORDER_CREATE.ITEM_UNAVAILABLE' | translate}}</p>
                        <div *ngIf="itemDet.isAvailable">
                        <div>
                            <div class="quantity-count">
                                <md-card-title>{{'ORDER_CREATE.QUANTITY' | translate}}: {{ _quantityCount }}</md-card-title>
                            </div>  
                            <div class="inline-block">
                                <button md-button class="quantity-button" (click)="removeCount()">
                                    <md-icon class="color-button-icon">remove</md-icon>
                                </button>
                                <button md-button class="quantity-button" (click)="addCount()">
                                    <md-icon class="color-button-icon">add</md-icon>
                                </button>
                            </div>
                        </div>
                        <br/>
                        <form [formGroup]="_newOrderForm">
                            <md-input-container *ngIf="itemDet.observations" style="width: 100%">
                                <input mdInput formControlName="observations" placeholder="{{'ORDER_CREATE.OBSERVATIONS' | translate}}" maxlength="50" #inputObservation>
                                <md-hint align="end">{{inputObservation.value.length}} / 50</md-hint>
                            </md-input-container>
                            <md-tab-group *ngIf="itemDet.garnishFoodIsAcceped || itemDet.additionsIsAccepted">
                                <md-tab *ngIf="itemDet.garnishFoodIsAcceped" label="{{'ORDER_CREATE.GARNISH_FOOD' | translate}}" style="font-size: 12px">
                                    <p>{{'ORDER_CREATE.SELECT_MAX' | translate}} {{itemDet.garnishFoodQuantity}}:</p>
                                    <div formGroupName="garnishFood">
                                        <p *ngFor="let garnish of _garnishFoodCol | async">
                                            <span *ngFor="let gar of itemDet.garnishFood">
                                                <template [ngIf]="garnish._id === gar">
                                                    <md-checkbox [formControlName]="garnish.name" (change)="calculateFinalPriceGarnishFood($event, garnish.price)" [class.invalid]="!_newOrderForm.controls.garnishFood.valid">{{garnish.name}} - $ {{garnish.price}} <div class="inline-block"> x {{_quantityCount}}</div></md-checkbox> 
                                                </template>
                                            </span>
                                        </p>
                                    </div>
                                    <p *ngIf="_showGarnishFoodError" class="available-button">{{'ORDER_CREATE.SELECT_MAX_VALID' | translate}} {{itemDet.garnishFoodQuantity}} {{'ORDER_CREATE.ELEMENTS' | translate}}</p>
                                </md-tab>
                                <md-tab *ngIf="itemDet.additionsIsAccepted" label="{{'ORDER_CREATE.ADDITIONS' | translate}}">
                                    <p>{{'ORDER_CREATE.SELECT_ADDITIONS' | translate}}:</p>
                                    <div formGroupName="additions">
                                        <p *ngFor="let addition of _additions | async">
                                            <span *ngFor="let add of itemDet.additions">
                                                <template [ngIf]="addition._id === add">
                                                    <md-checkbox [formControlName]="addition.name" (change)="calculateFinalPriceAddition($event, addition.price)" [class.invalid]="!_newOrderForm.controls.additions.valid">{{addition.name}} - $ {{addition.price}} <div class="inline-block"> x {{_quantityCount}}</div></md-checkbox> 
                                                </template>
                                            </span>
                                        </p>
                                    </div>
                                </md-tab>
                            </md-tab-group>
                        </form>
                        </div>
                        <h3>{{'ORDER_CREATE.TOTAL_PRICE' | translate}}: {{ _finalPrice }}</h3>
                        <md-card-actions *ngIf="itemDet.isAvailable">
                            <button md-button [disabled]="!_newOrderForm.valid || _showGarnishFoodError" (click)="AddItemToOrder(itemDet._id)">{{'ORDER_CREATE.ADD_ITEM' | translate}}</button>
                        </md-card-actions>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <md-card *ngIf="!_showItemDetails">
        <div class="header-detail" #headerDetailCard>
            <md-card-content>
                <md-card-title>{{'ORDER_CREATE.SELECT_ITEM' | translate}}</md-card-title>
            </md-card-content>
        </div>
    </md-card>
</div>