/*
.divider{
    margin-left: 7rem; 
    width:80%
}
*/

img.custom {
    border-radius: 0 !important;
}

@media only screen and (min-width: 600px) {
    img.custom {
        width: 80px !important;
        height: 80px !important;
    }
}

.total-pay{
    font-weight: bold;
    display: inline;
}

.no-payed{
    font-weight: bold;
    color:red;
    display: inline
}

.payed{
    font-weight: bold;
    color:green;
    display: inline
}

.element{
    margin-left: 7rem;
}

.element-price{
    display: inline;
}

.element-quantity{
    display: inline;
    margin-left: 2rem;
}

.element-total-price{
    display: inline;
    margin-left: 3rem;
    color: black;
}