<md-card>
    <md-card-title>{{'GARNISHFOOD.GARNISHFOOD_EDIT' | translate}}</md-card-title>
    <md-card-content>
        <form [formGroup]="_editForm" (ngSubmit)="editGarnishFood();">
            <div>
                <md-input-container class="name">
                    <input mdInput required formControlName="editName" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="50" #editInputName>
                    <md-hint align="end">{{editInputName.value.length}} / 50</md-hint>
                </md-input-container>
                <md-slide-toggle formControlName="editIsActive" class="toogle">{{'STATE' | translate}}</md-slide-toggle>                
                <div>
                    <p *ngIf="!_showCurrencies">{{'GARNISHFOOD.NO_RESTAURANT_CREATED' | translate}}</p>
                    <p *ngIf="_showCurrencies" class="message">{{'GARNISHFOOD.GARNISHFOOD_PRICES' | translate}}</p>
                    <p *ngIf="_showTaxes" class="message">{{'GARNISHFOOD.GARNISHFOOD_TAXES' | translate}}</p>
                    <div *ngFor="let currency of _currencies | async">
                        <div *ngIf="_showCurrencies" formGroupName="editCurrencies" class="currencies">
                            <div *ngFor="let cur of _restaurantCurrencies">
                                <md-input-container *ngIf="currency._id === cur" class="currency">
                                <input mdInput required [formControlName]="cur" [class.invalid]="!_editForm.controls.editCurrencies.valid" type="number" placeholder="{{'GARNISHFOOD.GARNISHFOOD_PRICE' | translate}}" min="0" [step]="currency.decimal">
                                <span mdSuffix>{{currency.code}} - {{currency.name | translate}} </span>
                                </md-input-container>
                            </div>
                        </div>
                        <div *ngIf="_showTaxes" formGroupName="editTaxes" class="taxes">
                            <div *ngFor="let tax of _restaurantTaxes">
                            <md-input-container *ngIf="currency._id === tax" class="tax">
                                <input mdInput required [formControlName]="tax" [class.invalid]="!_editForm.controls.editTaxes.valid" type="number" placeholder="{{'GARNISHFOOD.TAXES' | translate}}" min="0" max="100">
                                <span mdSuffix>% {{currency.code}} - {{currency.name | translate}} </span>
                            </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button md-raised-button class="secondary-button" type="button" (click)="_dialogRef.close()">{{'CANCEL' | translate}}</button>
                <button md-raised-button class="primary-button" [disabled]="!_editForm.valid" type="submit">{{'UPDATE' | translate}}</button>
            </div>
        </form>
    </md-card-content>
</md-card>