.btn-position-create{
    position: absolute;
    top: -45px;
    right: 0;
}

.main {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    height: 100%;
    width: calc( 100% - 22px);
    
    .main-overflow {
        position: relative;
        top: 20px;
        overflow: scroll;
        height: calc( 100vh - 86px);
    }
}


.cards{
    width: 240px;
    display: inline-block; 
    margin-right: 20px; 
    vertical-align: top;

    md-card-content {
        margin-top: 16px;
        margin-bottom: 16px;
        height: 50px;
    }
}

.crop {
    height: 200px;
    overflow: hidden;
    margin: 0 -24px 0px;
}

.crop img {
    width: calc(100% + 48px);
    height: 35vh;
    margin: 0 -15px 0px;
}

.fixed-action-btn {		
    position: absolute;
    right: 10px;
    bottom: 10px;
 }