<md-card md-cell="12" class="demo-card demo-basic" *ngIf="!_thereAreRestaurants">
    <md-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" 
                        src="/images/items.png"/>
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'SECTIONS.THERE_NOT_RESTAURANTS' | translate}}
                    </div>
                    <div class="card_initial-additional-links">
                        {{'SECTIONS.MESSAGE' | translate}}
                    </div>
                </div>
                <div class="card_initial-button">
                    <button md-raised-button (click)="goToAddRestaurant()">{{'SECTIONS.RESTAURANT_REGISTER' | translate}}</button>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>

<md-card *ngIf="_thereAreRestaurants && !_thereAreItems" md-cell="12" class="demo-card demo-basic" style="width: 90%; margin: 0 auto">
    <md-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" 
                        src="/images/platos.png"/>
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{ 'ITEMS.MSG_INITIAL' | translate }}
                    </div>
                    <div class="card_initial-additional-links">
                        
                    </div>
                </div>
                <div class="card_initial-button">
                    <button md-raised-button (click)="openItemCreation()">{{'ITEMS.CREATE_NEW_ITEM' | translate}}</button>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>

<div class="main" *ngIf="_thereAreRestaurants && _thereAreItems">
    <div class="main-overflow">
        <md-card id="card-main" class="custom-cards" *ngFor="let item of _items | async">
                <div class="header-card">
                    <img src="{{ getItemImage(item._id) }}">
                    <span class="mat-card-title">{{item.name}}</span>
                    <button md-tooltip="{{'ITEMS.EDIT_ITEM' | translate}}" md-fab class="btn-position-edition" (click)="open(item)">
                        <md-icon style="color: white;" class="md-24">create</md-icon>
                    </button>
                </div>
            <md-card-content>
                <p *ngIf="item.description.length > 50">{{item.description.substring(1, 50)}}...</p>
                <p *ngIf="item.description.length <= 50">{{item.description}}</p>
                <div class="card-item-price">{{showItemPrices(item.prices)}}</div>
                <div class="card-item-tax">{{showItemTaxes(item.prices)}}</div>
            </md-card-content>
            <md-card-actions class="card-actions">
                <button md-raised-button *ngIf="item.is_active" class="inactive-button" style="width: 100%" (click)="updateStatus(item)">{{'ITEMS.INACTIVATE' | translate}}</button>
                <button md-raised-button *ngIf="!item.is_active" class="active-button" style="width: 100%" (click)="updateStatus(item)">{{'ITEMS.ACTIVATE' | translate}}</button>
            </md-card-actions>
        </md-card>
    </div>
    
    <div class="fixed-action-btn">
        <button md-tooltip="{{'ITEMS.CREATE_NEW_ITEM' | translate}}" mdTooltipPosition="above" class="fixed-action-btn" md-fab (click)="openItemCreation()">
            <md-icon style="color: white;">
                add
            </md-icon>
        </button>
    </div>
</div>