.fixed-action-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.btn-position-create{
    position: absolute;
    top: -45px;
    right: 10px;
}

.main {
    position: relative;
    display: block;
    height: 100%;
    overflow: auto;
    margin-right: 0px;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

    .cards{
        width: 350px;
        display: inline-block; 
        margin-right: 20px; 
        vertical-align: top;

        .card-item-price{
            margin-top: 2%;
            font-size: x-large;
            color: green;
            margin-bottom: -3%;
        }

        .card-item-tax{
            margin-top: 4%;
            font-size: initial;
            color: goldenrod;
            margin-bottom: -3%;
        }

        .card-actions{
            margin-top: -2%;

            .inactivate{
                background-color: red;
                color: white;
            }

            .activate{
                background-color: green;
                color: white;
            }
        }
    }

    .crop {
        height: 200px;
        overflow: hidden;
        margin: 0 -24px 0px;
    }

    .crop img {
        width: calc(100% + 48px);
        height: 35vh;
        margin: 0 -15px 0px;
    }

    .title-font{
        font-family: "Open Sans",Arial,sans-serif;
    }
}