<div class="order-form-1">
        <div class="order-form-2">
            <!--div class="sidenav">
                <div class="sidenav-content">
                    <div class="sidenav-list">
                        <mat-nav-list [ngStyle]="{'height': auto}">
                            <a class="mat-list-item" (click)="showAllItems()">
                                <div class="mat-list-item-content">
                                    <mat-icon>restaurant_menu</mat-icon>{{'ORDER_CREATE.SHOW_ALL' | translate}}
                                </div>
                            </a>
                            <order-menu-option *ngFor="let menu of _orderMenus" [orderMenu]="menu" [parent]="_this" (idToEvaluate)="evaluateId($event)"></order-menu-option>
                        </mat-nav-list>
                    </div>
                </div>
            </div-->
            <div class="menu-items">
                <div class="menu-items-content">
                    <div class="items">
                        <mat-form-field>
                            <mat-select placeholder="{{'RES_PAYMENT_HISTORY.YEAR_FILTER' | translate}}">
                                <mat-option (click)="showAllItems()">{{'ORDER_CREATE.SHOW_ALL' | translate}}</mat-option>
                                <mat-option *ngFor="let menu of _orderMenus">{{menu}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <span *ngFor="let section of _sections | async" >
                            <span *ngFor="let item of _items | async">
                                <ng-template [ngIf]="item.sectionId === section._id && item.categoryId === '' && item.subcategoryId === ''">
                                        <mat-card class="custom-cards">
                                            <div class="header-card">
                                                <img src="{{ getItemImageThumb(item._id) }}">
                                                <span class="mat-card-title">{{item.name}}</span>
                                                <button matTooltip="{{'ORDER_CREATE.VIEW_DETAIL' | translate}}" mat-fab class="btn-position-edition" (click)="showItemInformation(item)">
                                                    <mat-icon style="color: white;" class="mat-24">search</mat-icon>
                                                </button>
                                            </div>
                                            <mat-card-content>
                                                <p *ngIf="item.description.length > 50">{{item.description.substring(1, 50)}}...</p>
                                                <p *ngIf="item.description.length <= 50">{{item.description}}</p>
                                                <ul class="list">
                                                    <li *ngIf="!getItemAvailability(item._id)" class="available-button">
                                                        <mat-icon class="mat-24" class="vertical-align-middle">clear</mat-icon>
                                                        <span>{{'ORDER_CREATE.UNAVAILABLE' | translate}}</span>
                                                    </li>
                                                    <li *ngIf="getItemAvailability(item._id)" class="price-button">
                                                        <mat-icon class="mat-24" class="vertical-align-middle">done</mat-icon>
                                                        <span>{{ getItemPrice( item ) }} {{_currencyCode}}</span>
                                                    </li>
                                                </ul>
                                            </mat-card-content>
                                        </mat-card>
                                </ng-template>
                            </span>
                            <span *ngFor="let category of _categories | async">
                                <ng-template [ngIf]="category.section === section._id">
                                    <span *ngFor="let item of _items | async">
                                        <ng-template [ngIf]="item.sectionId === section._id && item.categoryId === category._id && item.subcategoryId === ''">
                                                <mat-card class="custom-cards">
                                                    <div class="header-card">
                                                        <img src="{{ getItemImageThumb(item._id) }}">
                                                        <span class="mat-card-title">{{item.name}}</span>
                                                        <button matTooltip="{{'ORDER_CREATE.VIEW_DETAIL' | translate}}" mat-fab class="btn-position-edition" (click)="showItemInformation(item)">
                                                            <mat-icon style="color: white;" class="mat-24">search</mat-icon>
                                                        </button>
                                                    </div>
                                                    <mat-card-content>
                                                        <p *ngIf="item.description.length > 50">{{item.description.substring(1, 50)}}...</p>
                                                        <p *ngIf="item.description.length <= 50">{{item.description}}</p>
                                                        <ul class="list">
                                                            <li *ngIf="!getItemAvailability(item._id)" class="available-button">
                                                                <mat-icon class="mat-24" class="vertical-align-middle">clear</mat-icon>
                                                                <span>{{'ORDER_CREATE.UNAVAILABLE' | translate}}</span>
                                                            </li>
                                                            <li *ngIf="getItemAvailability(item._id)" class="price-button">
                                                                <mat-icon class="mat-24" class="vertical-align-middle">done</mat-icon>
                                                                <span>{{ getItemPrice( item ) }} {{_currencyCode}}</span>
                                                            </li>
                                                        </ul>
                                                    </mat-card-content>
                                                </mat-card>
                                        </ng-template>
                                    </span>
                                    <span *ngFor="let subcategory of _subcategories | async">
                                        <ng-template [ngIf]="subcategory.category === category._id">
                                            <span *ngFor="let item of _items | async">
                                                <ng-template [ngIf]="item.sectionId === section._id && item.categoryId === category._id && item.subcategoryId === subcategory._id">
                                                        <mat-card class="custom-cards">
                                                            <div class="header-card">
                                                                <img src="{{ getItemImageThumb(item._id) }}">
                                                                <span class="mat-card-title">{{item.name}}</span>
                                                                <button matTooltip="{{'ORDER_CREATE.VIEW_DETAIL' | translate}}" mat-fab class="btn-position-edition" (click)="showItemInformation(item)">
                                                                    <mat-icon style="color: white;" class="mat-24">search</mat-icon>
                                                                </button>
                                                            </div>
                                                            <mat-card-content>
                                                                <p *ngIf="item.description.length > 50">{{item.description.substring(1, 50)}}...</p>
                                                                <p *ngIf="item.description.length <= 50">{{item.description}}</p>
                                                                <ul class="list">
                                                                    <li *ngIf="!getItemAvailability(item._id)" class="available-button">
                                                                        <mat-icon class="mat-24" class="vertical-align-middle">clear</mat-icon>
                                                                        <span>{{'ORDER_CREATE.UNAVAILABLE' | translate}}</span>
                                                                    </li>
                                                                    <li *ngIf="getItemAvailability(item._id)" class="price-button">
                                                                        <mat-icon class="mat-24" class="vertical-align-middle">done</mat-icon>
                                                                        <span>{{ getItemPrice( item ) }} {{_currencyCode}}</span>
                                                                    </li>
                                                                </ul>
                                                            </mat-card-content>
                                                        </mat-card>
                                                </ng-template>
                                            </span>
                                        </ng-template>
                                    </span>
                                </ng-template>
                            </span>
                        </span>
                    </div>
    
                    <div id="item-selected" class="item-detail animated">
                        <div *ngFor="let itemDet of _itemDetail | async">
                            <div class="header-detail" #headerDetailCard>
                                <label>{{itemDet.name}}</label>
                                <button class="btn-close" mat-raised-button (click)="viewItemDetail(true)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="item-detail-card">
                                <div class="card-content">
                                    <div class="crop">
                                        <img src="{{ getItemImage(itemDet._id) }}">
                                    </div>
                                    <div class="content">
                                        <mat-card-subtitle class="description">{{itemDet.description}}</mat-card-subtitle>
                                        <mat-card-subtitle class="price">{{'ORDER_CREATE.PRICE' | translate}}: {{ getItemPrice( itemDet ) }} {{_currencyCode}}</mat-card-subtitle>
                                        <mat-card-subtitle>{{'ORDER_CREATE.COOKING_TIME' | translate}}: {{itemDet.time}}</mat-card-subtitle>
                                        <p *ngIf="!getItemAvailability(itemDet._id)" class="available-button">{{'ORDER_CREATE.ITEM_UNAVAILABLE' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--div id="addition-detail" class="item-detail">
                        <div class="header-detail" #headerDetailCard>
                            <label>{{'ORDER_CREATE.ADDITIONS' | translate}}</label>
                            <button class="btn-close" mat-raised-button (click)="viewAdditionDetail(true)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="item-detail-card">
                            <div class="card-content">
                                <div class="crop"></div>
                                <div class="content" style="margin-top: 20%;">
                                    <p>{{'ORDER_CREATE.ADD_ADDITIONS' | translate}}:</p>
                                    <form [formGroup]="_additionsDetailFormGroup">
                                        <div *ngFor="let add of _additions | async">
                                            <mat-form-field style="width: 100%;">
                                                <input matInput [formControlName]="add._id" type="number" placeholder="{{ getAdditionInformation(add) }} {{_currencyCode}}" min="0" max="99" disabled>
                                            </mat-form-field>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
    </div>