<md-toolbar>
    <div class="nav-wrapper container">
        <a id="logo-container" routerLink="/" class="brand-logo">
            <img src="/images/logo_iurest.png" alt="iurest">
        </a>
        <span class="app-flex-filler"></span>

        <ul style="padding-left: 15px" class="right hide-on-med-and-down">
            <button md-raised-button class="primary-button" style="font-size: .9rem" [routerLink]="['/signup']" >{{'LANDING.SIGNUP' | translate}}</button>
        </ul>
        <ul style="padding-left: 15px" class="right hide-on-med-and-down">
            <button md-raised-button class="secondary-button" style="font-size: .9rem" [routerLink]="['/signin']" >{{'LANDING.SIGNIN' | translate}}</button>
        </ul>
        <ul class="right hide-on-med-and-down">
            <a [md-menu-trigger-for]="menu" id="user-dropdown-toggler">
                {{'LANDING.LANGUAGE' | translate}}
                <md-icon style="vertical-align: middle">keyboard_arrow_down</md-icon>
            </a>

            <div style="padding-top: 70px; position: fixed">
                <md-menu #menu="mdMenu" id="md-overlay-pane">
                    <button md-menu-item disabled>{{'LANDING.LANGUAGE_SELECT' | translate}}</button>
                    <button md-menu-item *ngFor="let lang of _languages | async" (click)="changeLang(lang.language_code)" value="{{lang.language_code}}" >{{lang.name}}</button> 
                </md-menu>
            </div>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a (click)="goToSection('contact')" data-target="#contact">{{'LANDING.CONTACT' | translate}}</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a (click)="goToSection('download')" data-target="#download">{{'LANDING.DOWNLOAD' | translate}}</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a (click)="goToSection('home')" data-target="#home" class="active">{{'LANDING.PRICING' | translate}}</a></li>
        </ul>

        <div id="sidenav-dev" class="sidenav">

            <a routerLink="/" class="logo_mobile">
                <img src="/images/logo_iurest.png" alt="iurest">
            </a>

            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
            
            <div class="sidenav-item">
                <ul>
                    <li><a href="javascript:void(document.getElementById('sidenav-dev').style.width = '0')" 
                           (click)="goToSection('home')">{{'LANDING.PRICING' | translate}}</a></li>
                    <li><a href="javascript:void(document.getElementById('sidenav-dev').style.width = '0')"
                           (click)="goToSection('download')">{{'LANDING.DOWNLOAD' | translate}}</a></li>
                    <li><a href="javascript:void(document.getElementById('sidenav-dev').style.width = '0')"
                           (click)="goToSection('contact')">{{'LANDING.CONTACT' | translate}}</a></li>
                    <li>
                        <a [md-menu-trigger-for]="menu" id="user-dropdown-toggler">
                            {{'LANDING.LANGUAGE' | translate}}
                            <md-icon style="float:right; line-height: inherit">keyboard_arrow_down</md-icon>
                        </a>

                        <div style="padding-top: 70px; position: fixed">
                            <md-menu #menu="mdMenu" id="md-overlay-pane">
                                <button md-menu-item disabled>{{'LANDING.LANGUAGE_SELECT' | translate}}</button>
                                <button md-menu-item *ngFor="let lang of _languages | async" (click)="changeLang(lang.language_code)" value="{{lang.language_code}}" >{{lang.name}}</button> 
                            </md-menu>
                        </div>
                    </li>
                    <li><a href="#"></a></li>
                </ul>

                <!--
                    <div class="row center" style="padding-top: 10px">
                        <button md-raised-button class="primary-button" style="width: 45%" [routerLink]="['/signup']">{{'LANDING.SIGNUP' | translate}}</button>
                        <button md-raised-button class="secondary-button" style="width: 45%" [routerLink]="['/signin']" >{{'LANDING.SIGNIN' | translate}}</button>
                    </div>
                -->
            </div>
        </div>

        <a href="javascript:void(0)" class="button-collapse" (click)="openNav()"><i class="material-icons">menu</i></a>
    </div>
</md-toolbar>

<div id="home">
    <div class="parallax img-1 parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="dw">
                    <div class="dwt">
                        <div class="dwt-1">
                            Prueba Prueba Prueba
                        </div>
                        <div class="dwt-2">
                            Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba Prueba 
                        </div>
                        <div class="box-sizing">
                            <div class="dwt-3">
                                Prueba Prueba Prueba 
                            </div>
                            <div class="dwtl">
                                <a href="" >
                                    <img alt="" src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats/static/images/components/app-badge-app-store/Download_on_the_App_Store_Badge_US-UK_135x40-d0558d9106.svg"/>
                                </a>
                                <a href="">
                                    <img alt="" src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats/static/images/components/app-badge-google-play/es_badge_web_generic-d34417d674.png"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="dwi">
                        <div class="dwimg">
                            <img src="/images/iphone.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="download">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s11 m4">
                    <div class="icon-block">
                        <md-card>
                            <md-card-content>
                                <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                                <h5 class="center">Lorem ipsum dolor</h5>
                                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>

                <div class="col s11 m4">
                    <div class="icon-block">
                        <md-card>
                            <md-card-content>
                                <h2 class="center brown-text"><i class="material-icons">cloud_done</i></h2>
                                <h5 class="center">Lorem ipsum dolor</h5>
                                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>

                <div class="col s11 m4">
                    <div class="icon-block">
                        <md-card>
                            <md-card-content>
                                <h2 class="center brown-text"><i class="material-icons">gamepad</i></h2>
                                <h5 class="center">Lorem ipsum dolor</h5>
                                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax img-2 parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <md-card>
                        <md-card-content>
                            <h5 class="header col s12 light-text">A modern responsive front-end framework based on Material Design</h5>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contact">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s11 center">
                    <md-card>
                        <md-card-content>
                            <h3><i class="mdi-content-send brown-text"></i></h3>
                            <h4>Contact Us</h4>
                            <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                            <button md-raised-button class="secondary-button" style="font-size: .9rem" [routerLink]="['/admin-signup']" >{{'LANDING.SIGNIN' | translate}}</button>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax img-3 parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <md-card>
                        <md-card-content>
                            <h5 class="header col s12 light-text">A modern responsive front-end framework based on Material Design</h5>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row center">
            <div class="social-icons">
                <a class="facebook" href="https://facebook.com"></a>
                <a class="twitter" href="https://twitter.com"></a>
                <a class="google" href="https://google.com"></a>
            </div>
            <div class="col s11 center">
                <md-card style="padding-bottom: 0">
                    <md-card-content>
                        <p style="line-height: inherit">
                        <img src="/images/isotipo_footer.png" alt="iurest" class="vertical-align-middle">&nbsp;
                        Contact us&nbsp;&nbsp;
                        <md-icon class="vertical-align-middle">room</md-icon>&nbsp;&nbsp;Calle falsa 123 - sur&nbsp;&nbsp;
                        <md-icon class="vertical-align-middle">phone</md-icon>&nbsp;&nbsp;(000) 2345678&nbsp;&nbsp;
                        <md-icon class="vertical-align-middle">mail_outline</md-icon>&nbsp;&nbsp;<a href="contact@realbind.com">contact@realbind.com</a>
                        </p>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <md-card style="padding-top: inherit">
                <md-card-content>
                    <p class="light-text">Iurest is a trademark of <a class="light-text"  href="http://www.realbind.com">realbind</a>  / © Iurest 2016 - 2017. All Rights Reserved</p>
                </md-card-content>
            </md-card>
        </div>
    </div>
</footer>