<md-card md-cell="12" class="demo-card demo-basic">
    <md-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" 
                        src="/images/empleados.png"/>
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'COLLABORATORS.MSG_INITIAL' | translate}}
                    </div>
                    <div class="card_initial-additional-links">
                        
                    </div>
                </div>
                <div class="card_initial-button">
                    <button md-raised-button (click)="addWaiterCall()">Solicitar mesero</button>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>