<ion-header>

    <ion-navbar>
        <ion-title>
            {{ 'MOBILE.PAYMENTS.PAY_DETAIL_TITTLE' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item-group *ngFor="let order of _orders | async">
        <ion-item-divider color="light">
            <h2>{{ 'MOBILE.PAYMENTS.PAY_ORDER' | translate }} # {{order.code}}</h2>
            <h2 item-right> {{order.totalPayment}} {{_currency}}</h2>
        </ion-item-divider>
        <div *ngFor="let itemId of order.items">
            <colombia-payment-item-detail [order]="order" [orderItem]="itemId" [resCode]="order.restaurantId" [currencyCode]="_currency"></colombia-payment-item-detail>
        </div>
    </ion-item-group>
</ion-content>

<ion-footer class="ion-footer-custom" padding>
    <ion-item>
        <h2>{{ 'MOBILE.PAYMENTS.SUBTOTAL' | translate }}</h2>
        <h2>{{ 'MOBILE.PAYMENTS.INC' | translate }} (8%):</h2>
        <div item-right style="text-align: end;">
            <p>{{_ipoComBaseString}} {{_currency}}</p>
            <p>{{_ipoComString}} {{_currency}}</p>
        </div>
    </ion-item>
    <h1 style="display: inline-block;">{{ 'MOBILE.PAYMENTS.TOTAL' | translate }}</h1>
    <h1 style="display: inline-block; position: absolute; right: 15px;">{{_totalValue}} {{_currency}}</h1>
</ion-footer>