<div class="global-div">
    <div class="div-whitout-overflow">
        <div class="cards-div">
            <div class="call-card">
                <md-card class="card_image" style="margin: 24px;">
                    <md-list>
                        <md-list-item *ngIf="_restaurant">
                            <img md-list-avatar style="border-radius: 50%; width: 100px; height: 100px;" src="{{ getRestaurantImage( _restaurant._id ) }}">
                            <h2 md-line style="font-size: 1.5rem;"> {{_restaurant.name}} </h2>
                            <p md-line style="font-size: 1rem;">
                                <md-icon style="vertical-align: middle">location_on</md-icon>
                                <span> {{_restaurant.address}} </span>
                            </p>
                            <p md-line style="font-size: 1rem;">
                                <md-icon style="vertical-align: middle">phone</md-icon>
                                <span class="detail-message">{{_restaurant.phone}} </span>
                            </p>
                        </md-list-item>
                    </md-list>
                </md-card>
            </div>

            <md-card *ngFor="let userdetail of _userDetails | async" class="cards">
                <div *ngFor="let user of _users | async">
                    <div *ngIf="userdetail.user_id == user._id">
                        <md-card-header style="height: 80px; background: #eee;">
                            <img class="img" md-list-avatar src="/images/user_default_image.png">
                            <md-list>
                                <md-list-item>
                                    <h3 md-line> {{user.profile.first_name}} {{user.profile.last_name}} </h3>
                                    <p md-line>
                                        <span> {{user.username}} </span>
                                    </p>
                                </md-list-item>
                            </md-list>
                        </md-card-header>

                        <md-card-content>
                            <button md-mini-fab class="btn_edit" (click)="editCollaborator(userdetail, user)"> 
                                <md-icon style="color: white;">edit</md-icon>
                            </button>
                            <ul class="list">
                                <li *ngFor="let role of _roles | async">
                                    <ng-template [ngIf]="role._id == userdetail.role_id">
                                        <md-icon md-tooltip="{{'JOB' | translate}}" style="vertical-align: middle">assignment ind</md-icon>
                                        <label> {{ role.name | translate }} </label>
                                    </ng-template>
                                </li>
                                <li *ngIf="user.emails">
                                    <md-icon style="vertical-align: middle" md-tooltip="{{'EMAIL' | translate}}">mail outline</md-icon>
                                    <span> {{user.emails[0].address}} </span>
                                </li>
                                <li *ngIf="userdetail.phone">
                                    <md-icon style="vertical-align: middle" md-tooltip="{{ 'PHONE' | translate }}">phone</md-icon>
                                    <span> {{userdetail.phone}} </span>
                                </li>
                                <li *ngIf="userdetail.birthdate">
                                    <md-icon style="vertical-align: middle" md-tooltip="{{ 'BIRTHDATE' | translate }}">event</md-icon>
                                    <span> {{userdetail.birthdate | date: 'dd/MM/yyyy'}} </span>
                                </li>
                                <li>
                                    <md-slide-toggle [(checked)]="userdetail.is_active" (change)="changeUserState(userdetail)">
                                        {{ 'STATE' | translate }}
                                    </md-slide-toggle>
                                </li>
                            </ul>
                        </md-card-content>
                    </div>
                </div>
            </md-card>
            <button *ngIf="(_userDetails | async)?.length > 0" class="fixed-action-btn" md-fab (click)="openCollaboratorstRegister()">
                <md-icon style="color: white;">add</md-icon>
            </button>
        </div>
    </div>
</div>
