<ion-item style="background-color: #114B5F; color: white">
    <i class="fa fa-list-alt fa-2x" item-left></i>
    <div *ngIf="ordersConfirm">
        <h2>{{'MOBILE.ORDERS.ORDER' | translate}}{{orderCon.code}}</h2> 
        <p style="color: white;">{{'MOBILE.ORDERS.TOTAL' | translate}}{{orderCon.totalPayment}} {{_currency}}</p>
    </div>
    <div *ngIf="!ordersConfirm">
        <h2>{{'MOBILE.ORDERS.ORDER' | translate}}{{orderCon.code}}</h2> 
        <p style="color: white;">{{orderCon.status | translate}}</p>
    </div>
    <button *ngIf="ordersConfirm" ion-button color="light" small item-right (click)="showConfirm(orderCon)">{{'MOBILE.ORDERS.CONFIRM' | translate}}</button>
</ion-item>