<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'MOBILE.PAYMENTS.ADD_ORDER' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <hr showWhen="android"/>
    <p>Cuando algun acompañante de tu mesa desea pagar una de tus ordenes, debes confirmar este proceso. En esta seccion apareceran aquellas ordenes que otros usuarios desean pagar por ti</p>
    <h4 *ngIf="(_ordersToConfirm | async)?.length <= 0">No se encuentran ordenes</h4>
    <div *ngFor="let orderCon of _ordersToConfirm | async">
        <ion-card class="custom-padding-card">
            <ion-list>
                <order-payment-detail [orderCon]="orderCon" [ordersConfirm]="true"></order-payment-detail>
            </ion-list>
        </ion-card>
    </div>

    <p>Si deseas pagar ordenes de algun acompañante de tu mesa, esta seccion mostrara aquellas ordenes que se encuentran pendientes por confirmar para agregar a tu pago.</p>
    <h4 *ngIf="(_ordersWithPendingConfirmation | async)?.length <= 0">No se encuentran ordenes</h4>
    <div *ngFor="let orderPendingConfirmation of _ordersWithPendingConfirmation | async">
        <div *ngIf="orderPendingConfirmation.creation_user != _currentUserId">
            <ion-card class="custom-padding-card">
                <ion-list>
                    <order-payment-detail [orderCon]="orderPendingConfirmation" [ordersConfirm]="false"></order-payment-detail>
                </ion-list>
            </ion-card>
        </div>
    </div>
    <button class="button-secundary" style="float:left; width: 45%" ion-button (click)="goToAddOrders()">{{'MOBILE.PAYMENTS.ADD_ORDER' | translate}}</button>
</ion-content>