<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'MOBILE.PAYMENTS.ADD_ORDER' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <hr showWhen="android"/>

    <ion-card>
        <ion-card-content>
            <ion-item style="padding-left: 0;">
                <ion-avatar item-left>
                    <img src="/assets/img/mesas.png">
                </ion-avatar>
                <h2 style="color: #114b5f;">
                    {{'MOBILE.ORDER_PAYMENT_TRANS.CONSULT_TABLE_ORDERS_TITLE' | translate}}
                </h2>
            </ion-item>
            <p>
                {{'MOBILE.ORDER_PAYMENT_TRANS.CONSULT_TABLE_ORDERS_SUBTITLE' | translate}}
            </p>
            <button class="button-secundary" style="float:left; width: 45%; background-color: #114b5f !important; color: #fff !important;" ion-button (click)="goToAddOrders()">{{'MOBILE.PAYMENTS.ADD_ORDER' | translate}}</button>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-card-title style="color: #114b5f;">
                {{'MOBILE.ORDER_PAYMENT_TRANS.ORDERS_TO_CONFIRM_TITLE' | translate}}
            </ion-card-title>
            <p>
                {{'MOBILE.ORDER_PAYMENT_TRANS.ORDER_TO_CONFIRM' | translate}}
            </p>
            <h4 *ngIf="(_ordersToConfirm | async)?.length <= 0">{{'MOBILE.ORDER_PAYMENT_TRANS.NO_ORDERS' | translate}}</h4>
        </ion-card-content>
    </ion-card>
    
    <div *ngFor="let orderCon of _ordersToConfirm | async">
        <ion-card class="custom-padding-card">
            <ion-list>
                <order-payment-detail [orderCon]="orderCon" [ordersConfirm]="true"></order-payment-detail>
            </ion-list>
        </ion-card>
    </div>

    <ion-card>
        <ion-card-content>
            <ion-card-title style="color: #114b5f;">
                {{'MOBILE.ORDER_PAYMENT_TRANS.ORDERS_TO_PAY_TITLE' | translate}}
            </ion-card-title>
            <p>
                {{'MOBILE.ORDER_PAYMENT_TRANS.PENDING_ORDERS' | translate}}
            </p>
            <h4 *ngIf="(_ordersWithPendingConfirmation | async)?.length <= 0">{{'MOBILE.ORDER_PAYMENT_TRANS.NO_ORDERS' | translate}}</h4>
        </ion-card-content>
    </ion-card>

    <div *ngFor="let orderPendingConfirmation of _ordersWithPendingConfirmation | async">
        <div *ngIf="orderPendingConfirmation.creation_user != _currentUserId">
            <ion-card class="custom-padding-card">
                <ion-list>
                    <order-payment-detail [orderCon]="orderPendingConfirmation" [ordersConfirm]="false"></order-payment-detail>
                </ion-list>
            </ion-card>
        </div>
    </div>
</ion-content>