<md-card style="box-shadow: none">
    <md-card-title>{{ data | translate }}</md-card-title>
    <md-card-content>
        {{'MONTHLY_CONFIG.DIALOG_SURE_ACTION' | translate}}
    </md-card-content>
    <md-card-actions align="end">
        <button md-raised-button class="button-secundary" (click)="cancel()">{{ 'RESTAURANT_REGISTER.CANCEL_CREATION' | translate }}</button>
        <button md-raised-button class="button-primary" (click)="closeConfirm()" type="submit">{{ 'RESTAURANT_REGISTER.ACCEPT_CREATION' | translate }}</button>
    </md-card-actions>
</md-card>