<md-card>
    <md-card-title>{{'CATEGORIES.CATEGORY_EDIT' | translate}}</md-card-title>
    <md-card-content>
        <form [formGroup]="_editForm" (ngSubmit)="editCategory();">
            <table style="width: 100%" cellspacing="0">
            <tr>
                <td>
                    <md-input-container style="width: 100%">
                        <input mdInput required formControlName="editName" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="50" #editInputName>
                        <md-hint align="end">{{editInputName.value.length}} / 50</md-hint>
                    </md-input-container>
                </td>
                <td style="padding-left: 15px">
                    <md-select formControlName="editSection" placeholder="{{'CATEGORIES.SECCION_SELECTION' | translate}}">
                        <md-option *ngFor="let section of _sections | async" value="{{section._id}}" (click)="changeSectionEdit(section._id);" ng-selected="_categorySection === section._id">{{section.name}}</md-option>
                    </md-select>
                </td>
                <td>
                    <md-slide-toggle formControlName="editIsActive">{{'STATE' | translate}}</md-slide-toggle>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <md-input-container style="width: 100%">
                        <textarea mdInput formControlName="editDesc" placeholder="{{'DESCRIPTION' | translate}}" maxlength="150" #editInputDesc></textarea>
                        <md-hint align="end">{{editInputDesc.value.length}} / 150</md-hint>
                    </md-input-container>
                </td>
            </tr>
            </table>
            <div style="padding-top: 10px">
                <button md-raised-button class="button-secundary" type="button" (click)="_dialogRef.close()">{{'CANCEL' | translate}}</button>
                <button md-raised-button class="button-primary" [disabled]="!_editForm.valid" type="submit">{{'UPDATE' | translate}}</button>
            </div>
        </form>
    </md-card-content>
</md-card>