<md-card>
    <md-card-title>{{'CATEGORIES.CATEGORY_EDIT' | translate}}</md-card-title>
    <md-card-content>
        <form [formGroup]="_editForm" (ngSubmit)="editCategory();">
            <md-input-container style="width: 50%">
                <input mdInput required formControlName="editName" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="50" #editInputName>
                <md-hint align="end">{{editInputName.value.length}} / 50</md-hint>
            </md-input-container>
            <md-select style="width: 40%; margin-left:2%" formControlName="editSection" placeholder="{{'CATEGORIES.SECCION_SELECTION' | translate}}">
                <md-option *ngFor="let section of _sections | async" value="{{section._id}}" (click)="changeSectionEdit(section._id);" ng-selected="_categorySection === section._id">{{section.name}}</md-option>
            </md-select>
            <md-slide-toggle formControlName="editIsActive">{{'STATE' | translate}}</md-slide-toggle>
            <br/>
            <div>
                <button md-raised-button class="button-secundary" type="button" (click)="_dialogRef.close()">{{'CANCEL' | translate}}</button>
                <button md-raised-button class="button-primary" [disabled]="!_editForm.valid" type="submit">{{'UPDATE' | translate}}</button>
            </div>
        </form>
    </md-card-content>
</md-card>