<ion-header>

  <ion-navbar>
      <ion-title>
          <img id="signup-logo" src="assets/img/logo_iurest_mobile_white.png">
      </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <div *ngIf="!_userRestaurant" padding>
        <div class="img">
            <img src="assets/img/celular_llamado_mesero.png">
        </div>
        <div style="text-align: center">
            <h1>!Ups¡ No estas en ningun restaurante</h1>
            <p>Ve a la opción de ordenes e ingresa el código para llamar al mesero</p>
        </div>
    </div>
    <div *ngIf="_userRestaurant" class="main" (click)="addWaiterCall()">
        <div id="call_action" class="circle">
            <div class="bounce">
                <ion-icon name="hand"></ion-icon>
            </div>
            <div class="circle_action"></div>
            <img class="img i1" src="assets/img/mesero.png">
        </div>
    </div>
    <div *ngIf="_userRestaurant" class="description" padding>
        <p>{{'MOBILE.CALL_WAITER.CONTENT' | translate}}</p>
    </div>

</ion-content>
