<div class="df">
    <div class="di">
        <div class="mat-step-icon-cust">
            <span>a</span>
        </div>
        <img alt="iurest" src="/images/admin-register-pmc.png">
        <p>{{'ADMIN_SIGNUP.ABOUT_CONTENT.MSG_1' | translate}}</p>
        <div class="mat-stepper-horizontal-line pa"></div>
    </div>
    <div class="di">
        <div class="mat-step-icon-cust">
            <span>b</span>
        </div>
        <img alt="iurest" src="/images/admin-register-pmt.png">
        <p>{{'ADMIN_SIGNUP.ABOUT_CONTENT.MSG_1' | translate}}</p>
        <div class="mat-stepper-horizontal-line pa"></div>
    </div>
    <div class="di">
        <div class="mat-step-icon-cust">
            <span>c</span>
        </div>
        <img alt="iurest" src="/images/admin-register-pmo.png">
        <p>{{'ADMIN_SIGNUP.ABOUT_CONTENT.MSG_1' | translate}}</p>
    </div>
</div>