.name {
    display: inline-block; 
    width: 50%;
}

.quantity {
    display: inline-block; 
    width: 12%;
}

.unitPrice {
    display: inline-block; 
    width: 16%;
}

.totalPrice {
    display: inline-block; 
    width: 20%; 
    text-align: end;
}