<table class="bordered">
    <tbody>
        <tr *ngFor="let item of _items | async">
            <td class="name">{{item.name}}</td>
            <td class="quantity">{{orderItem.quantity}}</td>
            <td class="unitPrice">{{getUnitPrice(item)}} {{curCode}}</td>
            <td class="totalPrice">{{getTotalPrice(item)}} {{curCode}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="orderItem.garnishFood.length > 0">
    <span *ngFor="let garnish of _garnishFood | async">
        <span *ngFor="let g of orderItem.garnishFood">
            <table class="bordered">
                <tbody>
                    <tr *ngIf="g === garnish._id">
                        <td class="garnishName">{{garnish.name}} ({{'PAYMENTS.GARNISH_FOOD' | translate}})</td> 
                        <td class="garnishQuantity">{{orderItem.quantity}}</td> 
                        <td class="garnishUnitPrice">{{getGarnisFoodhUnitPrice(garnish)}} {{curCode}}</td> 
                        <td class="garnishTotalPrice">{{getGarnishFoodTotalPrice(garnish)}} {{curCode}}</td>
                    </tr>
                </tbody>
            </table>
        </span>
    </span>
</div>
<div *ngIf="orderItem.additions.length > 0">
    <span *ngFor="let addition of _additions | async">
        <span *ngFor="let add of orderItem.additions">
            <table class="bordered">
                <tbody>
                    <tr *ngIf="add === addition._id">
                        <td class="additionName">{{addition.name}} ({{'PAYMENTS.ADDITION' | translate}})</td> 
                        <td class="additionQuantity">{{orderItem.quantity}}</td> 
                        <td class="additionUnitPrice">{{getAdditionhUnitPrice(addition)}} {{curCode}}</td> 
                        <td class="additionTotalPrice">{{getAdditionTotalPrice(addition)}} {{curCode}}</td>
                    </tr>
                </tbody>
            </table>
        </span>
    </span>
</div>