.name {
    width: 50%;
}

.quantity { 
    width: 12%;
}

.unitPrice {
    width: 16%;
}

.totalPrice {
    width: 20%; 
    text-align: end;
}

.garnishName {
    width: 50%;
}

.garnishQuantity { 
    width: 12%;
}

.garnishUnitPrice {
    width: 16%;
}

.garnishTotalPrice {
    width: 20%; 
    text-align: end;
}

.additionName {
    width: 50%;
}

.additionQuantity { 
    width: 12%;
}

.additionUnitPrice {
    width: 16%;
}

.additionTotalPrice {
    width: 20%; 
    text-align: end;
}