<ion-header>
    <ion-navbar>
        <ion-title>
            <img id="signup-logo" src="assets/img/logo_iurest_mobile_white.png">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngFor="let _res of _restaurants | async">
        <div id="img-header">
            <div class="img">
                <img src="{{_res.urlImage}}">
            </div>
        </div>
        <ion-card style="margin: 0 auto">
            <ion-card-header>
                {{_res.name}}
            </ion-card-header>
            <ion-card-content>
                <p>{{_res.address}} • {{_res.phone}}</p>
            </ion-card-content>
        </ion-card>
    </div>

    <!--ion-list *ngFor="let _res of _restaurants | async" style="margin: 0 auto; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);">
        <ion-item style="background-image: url(assets/img/background_waiter.png);">
            <ion-avatar item-left>
                <img src="{{_res.urlImage}}">
            </ion-avatar>
            <h2>{{_res.name}}</h2>
            <p>{{_res.address}} • {{_res.phone}}</p>
        </ion-item>
    </ion-list-->

    <div *ngFor="let _call of _waiterCallDetail | async">
        <div *ngFor="let _table of _tables | async">
            <ion-card *ngIf="_table._id === _call.table_id">
                <ion-grid >
                    <ion-row>
                        <ion-col>
                            <ion-icon name='hand' style="font-size: 5rem; color: #9E9E9E"></ion-icon>
                        </ion-col>
                        <ion-col>
                            <h1 style="margin-top: 1rem">Mesa {{_table._number}}</h1>
                        </ion-col>
                        <ion-col>
                            <button ion-button item-right (click)="showComfirmClose(_call)" style="height: 36px; font-size: 1.6rem; background-color: #679436;">Cerrar</button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </div>
    </div>
    
</ion-content>