<md-card>
    <md-card-title>{{'ADDITIONS.ADDITION_EDIT' | translate}}</md-card-title>
    <md-card-content>
        <form [formGroup]="_editForm" (ngSubmit)="editAddition();">
            <div>
                <md-input-container style="width: 45%">
                    <input mdInput required formControlName="editName" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="50" #editInputName>
                    <md-hint align="end">{{editInputName.value.length}} / 50</md-hint>
                </md-input-container>
                <md-slide-toggle formControlName="editIsActive" style="width: 40%;display: inline-block;margin-left: 3%;" >{{'STATE' | translate}}</md-slide-toggle>
                <div>
                    <p>{{'ADDITIONS.RESTAURANT_ADDITION' | translate}}: </p>
                    <div formGroupName="editRestaurants">
                        <md-checkbox [formControlName]="restaurant.name" [class.invalid]="!_editForm.controls.editRestaurants.valid" *ngFor="let restaurant of _restaurantsList" style="padding-right: 15px" (change)="onCheckRestaurant(restaurant.name, $event)">{{restaurant.name}}</md-checkbox>
                    </div>
                </div>
                <div>
                    <p *ngIf="!_showCurrencies">{{'ADDITIONS.SELECT_RESTAURANTS' | translate}}</p>
                    <p *ngIf="_showCurrencies">{{'ADDITIONS.ADDITION_PRICES' | translate}}</p>
                    <div *ngIf="_showCurrencies" formGroupName="editCurrencies">
                        <div *ngFor="let currency of _currencies | async">
                            <div *ngFor="let cur of _restaurantCurrencies">
                                <md-input-container *ngIf="currency._id === cur" style="width: 30%;">
                                <input mdInput required [formControlName]="cur" [class.invalid]="!_editForm.controls.editCurrencies.valid" type="number" placeholder="{{'ADDITIONS.ADITION_PRICE' | translate}}" min="1" [step]="currency.decimal">
                                <span mdSuffix>{{currency.code}} - {{currency.name | translate}} </span>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 10px">
                <button md-raised-button class="button-secundary" type="button"  (click)="_dialogRef.close()">{{'CANCEL' | translate}}</button>
                <button md-raised-button class="button-primary" [disabled]="!_editForm.valid" type="submit">{{'UPDATE' | translate}}</button>
            </div>
        </form>
    </md-card-content>
</md-card>