<md-card md-cell="12" class="demo-card demo-basic" *ngIf="!_thereAreRestaurants">
    <md-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" 
                        src="/images/subcategories.png"/>
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'SECTIONS.THERE_NOT_RESTAURANTS' | translate}}
                    </div>
                    <div class="card_initial-additional-links">
                      {{'SECTIONS.MESSAGE' | translate}}
                    </div>
                </div>
                <div class="card_initial-button">
                    <button md-raised-button (click)="goToAddRestaurant()">{{'SECTIONS.RESTAURANT_REGISTER' | translate}}</button>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>

<md-card *ngIf="_thereAreRestaurants">
  <md-card-title>{{'SUBCATEGORIES.SUBCATEGORY_CREATION' | translate}}</md-card-title>
  <md-card-subtitle>{{'SUBCATEGORIES.SUBCATEGORY_TEXT' | translate}}</md-card-subtitle>
  <md-card-content>
    <form [formGroup]="_subcategoryForm" (ngSubmit)="addSubcategory();">
      <div>
        <md-input-container class="name">
          <input mdInput required formControlName="name" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="50" #inputName>
          <md-hint align="end">{{inputName.value.length}} / 50</md-hint>
        </md-input-container>
        <md-select class="select" formControlName="category" required id="categorySelect" placeholder="{{'SUBCATEGORIES.CATEGORY_SELECTION' | translate}}" [(ngModel)]="_selectedValue">
            <md-option *ngFor="let category of _categories | async" value="{{category._id}}" (click)="changeCategory(category._id);">{{category.name}}</md-option>
        </md-select>
      </div>
      <br/>
      <button md-raised-button class="secondary-button" [disabled]="!_subcategoryForm.valid" type="button" (click)="cancel()">{{'CANCEL' | translate}}</button>
      <button md-raised-button class="primary-button" [disabled]="!_subcategoryForm.valid" type="submit">{{'CREATE' | translate}}</button>
    </form>
  </md-card-content>
</md-card>

<md-card *ngFor="let subcategory of _subcategories | async" class="subcategory">
  <md-card-title>{{subcategory.name}}</md-card-title>
  <md-card-content>
    <span *ngFor="let cat of _categories | async" >
      <ng-template [ngIf]="cat._id == subcategory.category">                
        <p *ngIf="cat.is_active" class="category-active">{{'SUBCATEGORIES.CATEGORY' | translate}}: {{cat.name}}</p>
        <p *ngIf="!cat.is_active" class="category-inactive">{{'SUBCATEGORIES.CATEGORY' | translate}}: {{cat.name}}</p>
      </ng-template>
    </span>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="open(subcategory)" class="secondary-button">{{'SUBCATEGORIES.MODIFY' | translate}}</button>
    <button md-raised-button *ngIf="subcategory.is_active" class="inactive-button" (click)="updateStatus(subcategory)">{{'SUBCATEGORIES.INACTIVATE' | translate}}</button>
    <button md-raised-button *ngIf="!subcategory.is_active" class="active-button" (click)="updateStatus(subcategory)">{{'SUBCATEGORIES.ACTIVATE' | translate}}</button>
  </md-card-actions>
</md-card>