<mat-card *ngIf="!_showPayments" mat-cell="12" class="demo-card demo-basic" style="width: 90%; margin: 0 auto">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" src="/images/payments-history.png" />
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'PAYMENTS_HISTORY.NO_PAYS' | translate}}
                    </div>
                    <div class="card_initial-additional-links">
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div *ngIf="_showPayments">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let invoice of _invoices | async" hideToggle="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{invoice.restaurant_name}}
                </mat-panel-title>
                <mat-panel-description>
                    {{invoice.creation_date | date: 'MM/dd/yyyy HH:mm a'}}
                    <button mat-icon-button *ngIf="isInvoiceCanDownload(invoice, invoice.country_id)" (click)="invoiceGenerate(invoice, invoice.country_id)"
                        style="box-shadow: none; color: #ef5350;">
                        <mat-icon aria-label="Download">get_app</mat-icon>
                    </button>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>

            <mat-list style="margin-top: 10px">
                <mat-list-item *ngFor="let item of invoice.items">
                    <h4 mat-line class="display-inline">{{itemNameCrop(item.item_name)}}</h4>
                    <span class="app-flex-filler"></span>
                    <p mat-line class="quantity">{{'PAYMENTS.COLOMBIA.QUANT' | translate}} {{item.quantity}}
                        <span style="margin-left: 16px">{{item.price}}{{invoice.currency}}</span>
                    </p>
                </mat-list-item>
            </mat-list>





        </mat-expansion-panel>
    </mat-accordion>
</div>