<md-card md-cell="12" class="demo-card demo-basic" *ngIf="(_restaurants | async)?.length <= 0">
    <md-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" 
                        src="/images/aditions.png"/>
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'SECTIONS.THERE_NOT_RESTAURANTS' | translate}}
                    </div>
                    <div class="card_initial-additional-links">
                      {{'SECTIONS.MESSAGE' | translate}}
                    </div>
                </div>
                <div class="card_initial-button">
                    <button md-raised-button (click)="goToAddRestaurant()">{{'SECTIONS.RESTAURANT_REGISTER' | translate}}</button>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>

<md-card *ngIf="(_restaurants | async)?.length > 0">
  <md-card-title>{{'ADDITIONS.ADDITION_CREATION' | translate}}</md-card-title>
  <md-card-subtitle>{{'ADDITIONS.ADDITIONS_TEXT' | translate}}</md-card-subtitle>
  <md-card-content>
    <form [formGroup]="_additionForm" (ngSubmit)="addAddition();">
      <div>
        <md-input-container class="name">
          <input mdInput required formControlName="name" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="50" #inputName>
          <md-hint align="end">{{inputName.value.length}} / 50</md-hint>
        </md-input-container>
      </div>
      <div>
        <p *ngIf="!_showCurrencies">{{'ADDITIONS.NO_RESTAURANT_CREATED' | translate}}</p>
        <p *ngIf="_showCurrencies" class="message">{{'ADDITIONS.ADDITION_PRICES' | translate}}</p>
        <p *ngIf="_showTaxes" class="message">{{'ADDITIONS.ADDITION_TAXES' | translate}}</p>
        <div *ngFor="let currency of _currencies | async">
          <div *ngIf="_showCurrencies" formGroupName="currencies" class="currencies">
            <div *ngFor="let cur of _restaurantCurrencies">
                <md-input-container *ngIf="currency._id === cur" class="currency">
                  <input mdInput required [formControlName]="cur" [class.invalid]="!_additionForm.controls.currencies.valid" type="number" placeholder="{{'ADDITIONS.ADITION_PRICE' | translate}}" min="0" [step]="currency.decimal">
                  <span mdSuffix>{{currency.code}} - {{currency.name | translate}} </span>
                </md-input-container>
            </div>
          </div>
          <div *ngIf="_showTaxes" formGroupName="taxes" class="taxes">
            <div *ngFor="let tax of _restaurantTaxes">
              <md-input-container *ngIf="currency._id === tax" class="tax">
                <input mdInput required [formControlName]="tax" [class.invalid]="!_additionForm.controls.taxes.valid" type="number" placeholder="{{'ADDITIONS.TAXES' | translate}}" min="0" max="100">
                <span mdSuffix>% {{currency.code}} - {{currency.name | translate}} </span>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <button md-raised-button class="secondary-button" type="button" (click)="cancel()">{{'CANCEL' | translate}}</button>
      <button md-raised-button class="primary-button" [disabled]="!_additionForm.valid" type="submit">{{'CREATE' | translate}}</button>
    </form>    
  </md-card-content>
</md-card>
<md-card *ngFor="let addition of _additions | async" class="cards">
  <md-card-title class="card-title">{{addition.name}}</md-card-title>
  <md-card-subtitle class="card-subtitle">
    <label class="prices">{{'ADDITIONS.PRICES' | translate}}</label>&emsp;-&emsp;
    <label class="taxes">{{'ADDITIONS.TAXES' | translate}}</label>
  </md-card-subtitle>
  <md-card-content>
    <div class="card-addition-price">{{showAdditionPrices(addition.prices)}}</div>
    <div class="card-addition-tax">{{showAdditionTaxes(addition.prices)}}</div>    
  </md-card-content>
  <md-card-actions class="card-actions">
    <button md-raised-button (click)="open(addition)" class="secondary-button">{{'ADDITIONS.MODIFY' | translate}}</button>
    <button md-raised-button *ngIf="addition.is_active" class="inactive-button" (click)="updateStatus(addition)">{{'ADDITIONS.INACTIVATE' | translate}}</button>
    <button md-raised-button *ngIf="!addition.is_active" class="active-button" (click)="updateStatus(addition)">{{'ADDITIONS.ACTIVATE' | translate}}</button>
  </md-card-actions>
</md-card>