<ion-row center>
    <ion-col col-4>
        <div>
            <ion-thumbnail item-left>
                <img *ngIf="isUser" src="assets/img/my-orders.png">
                <img *ngIf="!isUser" src="assets/img/others-orders.png">
            </ion-thumbnail>
        </div>
    </ion-col>
    <ion-col>
        <div>
            {{'MOBILE.ORDERS.ORDER' | translate}}{{order.code}} <br/> {{'MOBILE.ORDERS.TOTAL' | translate}}{{order.totalPayment}}
            {{currencyCode}}<br/> {{'MOBILE.ORDERS.STATUS' | translate}}{{order.status | translate}} <br/>
        </div>
    </ion-col>
    <ion-col showWhen="android">
        <div>
            <ion-icon name="arrow-round-down" style="color: gray; float: right"></ion-icon>
        </div>
    </ion-col>
</ion-row>