<md-card>
    <md-card-title>{{'PROMOTIONS.PROMOTIONS_EDIT' | translate}}</md-card-title>
    <md-card-content>
        <form [formGroup]="_editForm" (ngSubmit)="editPromotion();">
            <div>
                <md-input-container style="width: 55%">
                    <input mdInput required formControlName="editName" placeholder="{{'NAME' | translate}}" minlength="1" maxlength="50" #editInputName>
                    <md-hint align="end">{{editInputName.value.length}} / 50</md-hint>
                </md-input-container>
                <md-slide-toggle formControlName="editIsActive" style="display: inline-block;margin: 0;margin-left: 10%;">{{'STATE' | translate}}</md-slide-toggle>
            </div>
            <div style="text-align: center;">
                <div style="width: 25%;display: inline-block;">
                    <label *ngIf="!_showImage">{{'PROMOTIONS.IMAGE_NOT_AVAILABLE' | translate}}</label>
                    <img *ngIf="_showImage" [src]="_promotionEditImage" style="text-align: center;padding: 0;"/>
                </div>
                <div style="display: inline;">
                    <label>{{'PROMOTIONS.UPDATE_IMAGE' | translate}}:</label>
                    <input formControlName="editImage" accept=".png, .jpg, .jpeg" (change)="onChangeEditImage($event)" style="display: none" type="file" name="file-edit-1[]" id="file-edit-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected"/>
                    <label for="file-edit-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                        <span *ngIf="!_editImage">{{'CHOOSE_FILE' | translate}}&hellip;</span>
                        <span *ngIf="_editImage">{{_nameImageFileEdit}}&hellip;</span>
                    </label>
                </div>
            </div>
            <md-input-container style="width: 100%">
                <textarea mdInput formControlName="editDesc" placeholder="{{'DESCRIPTION' | translate}}" maxlength="150" #editInputDesc></textarea>
                <md-hint align="end">{{editInputDesc.value.length}} / 150</md-hint>
            </md-input-container>
            <div>
                <label>{{'PROMOTIONS.RESTAURANT_PROMOTIONS' | translate}}: </label>
                <div formGroupName="editRestaurants" style="padding-top: 20px">
                    <md-checkbox [formControlName]="restaurant.name" [class.invalid]="!_editForm.controls.editRestaurants.valid" *ngFor="let restaurant of _restaurantsList" style="padding-right: 15px">{{restaurant.name}}</md-checkbox>
                    <label></label>
                </div>
            </div>
            <div style="padding-top: 10px">
                <button md-raised-button class="button-secundary" type="button"  (click)="_dialogRef.close()">{{'CANCEL' | translate}}</button>
                <button md-raised-button class="button-primary" [disabled]="!_editForm.valid" type="submit">{{'UPDATE' | translate}}</button>
            </div>
        </form>
    </md-card-content>
</md-card>