<md-card>
    <md-card-title>{{'SETTINGS.CHANGE_PASSWORD' | translate}}</md-card-title>
        <md-card-content>
            <form [formGroup]="_changePasswordForm"  novalidate>
                <div style="width: 450px">
                    <div>
                        <md-input-container style="width: 100%">
                            <input mdInput required formControlName="old_password" placeholder="{{'PASSWORD' | translate}}" style="width: 100%" #inputOldPassword type="password"/>
                            <md-hint align="end">{{inputOldPassword.value.length}} / 40</md-hint>
                        </md-input-container>
                        <div *ngIf="_changePasswordForm.controls['old_password'].hasError('required') && _changePasswordForm.controls['old_password'].touched" class="error-message">{{'SIGNUP.REQUIRED_PASSWORD' | translate}}</div>
                        <div *ngIf="_changePasswordForm.controls['old_password'].hasError('minlength') && _changePasswordForm.controls['old_password'].touched" class="error-message">{{'SIGNUP.MIN_LENGTH_EMAIL' | translate}}</div>
                        <div *ngIf="_changePasswordForm.controls['old_password'].hasError('maxlength') && _changePasswordForm.controls['old_password'].touched" class="error-message">{{'SIGNUP.MAX_LENGTH_EMAIL' | translate}}</div>
                    </div>
                    <div>
                        <md-input-container style="width: 100%">
                            <input mdInput required formControlName="new_password" placeholder="{{'SETTINGS.NEW_PASSWORD' | translate}}" style="width: 100%" #inputNewPassword type="password"/>
                            <md-hint align="end">{{inputNewPassword.value.length}} / 40</md-hint>
                        </md-input-container>
                        <div *ngIf="_changePasswordForm.controls['new_password'].hasError('required') && _changePasswordForm.controls['new_password'].touched" class="error-message">{{'SIGNUP.REQUIRED_PASSWORD' | translate}}</div>
                        <div *ngIf="_changePasswordForm.controls['new_password'].hasError('minlength') && _changePasswordForm.controls['new_password'].touched" class="error-message">{{'SIGNUP.MIN_LENGTH_PASSWORD' | translate}}</div>
                        <div *ngIf="_changePasswordForm.controls['new_password'].hasError('maxlength') && _changePasswordForm.controls['panew_passwordssword'].touched" class="error-message">{{'SIGNUP.MAX_LENGTH_PASSWORD' | translate}}</div>
                    </div>
                    <div>
                        <md-input-container style="width: 100%">
                            <input mdInput required formControlName="confirm_new_password" placeholder="{{'SETTINGS.CONFIRM_NEW_PASSWORD' | translate}}" style="width: 100%" #inputConfirmNewPassword type="password"/>
                            <md-hint align="end">{{inputConfirmNewPassword.value.length}} / 40</md-hint>
                        </md-input-container>
                        <div *ngIf="_changePasswordForm.controls['confirm_new_password'].hasError('required') && _changePasswordForm.controls['confirm_new_password'].touched" class="error-message">{{'SIGNUP.REQUIRED_CONFIRM' | translate}}</div>
                        <div *ngIf="_changePasswordForm.controls['confirm_new_password'].hasError('minlength') && _changePasswordForm.controls['confirm_new_password'].touched" class="error-message">{{'SIGNUP.MIN_LENGTH_PASSWORD' | translate}}</div>
                        <div *ngIf="_changePasswordForm.controls['confirm_new_password'].hasError('maxlength') && _changePasswordForm.controls['confirm_new_password'].touched" class="error-message">{{'SIGNUP.MAX_LENGTH_PASSWORD' | translate}}</div>
                    </div>
                </div>

            </form>
        </md-card-content>
        
        <md-card-actions align="end">
            <button md-raised-button class="button-secundary" (click)="cancel()">{{'CANCEL' | translate}}</button>
            <button md-raised-button class="button-primary" type="submit" (click)="changePassword()">{{'MODIFY' | translate}}</button>
        </md-card-actions>
</md-card>