<md-card class="call-card">
    <md-card class="card_image">
        <md-list>
            <div *ngFor="let _imgRes of _imgRestaurant | async">
                <md-list-item *ngFor="let _res of _restaurants | async">
                        <img md-list-avatar style="border-radius: 50%; width: 100px; height: 100px;" src="{{_imgRes.url}}">
                    <h2 md-line style="font-size: 1.5rem;"> {{_res.name}} </h2>
                    <p md-line style="font-size: 1rem;">
                        <md-icon style="vertical-align: middle">location_on</md-icon>
                        <span> {{_res.address}} </span>
                    </p>
                    <p md-line style="font-size: 1rem;">
                        <md-icon style="vertical-align: middle">phone</md-icon>
                        <span class="detail-message">{{_res.phone}} </span>
                    </p>
                </md-list-iztem>
            </div>
        </md-list>
    </md-card>
</md-card>

<md-card class="call-card" style="padding: 0">
    <div *ngFor="let _call of _waiterCallDetail | async" style="float: left; width: 330px; ">
        <div *ngFor="let _table of _tables | async">
            <md-card *ngIf="_table._id === _call.table_id" class="cards">
                <md-card-content style="padding: 12px">
                    <div class="item-block">
                        <img *ngIf="_call.type === 'SEND_ORDER'" class="img-list" src="/images/chef.png"/>
                        <img *ngIf="_call.type === 'CALL_OF_CUSTOMER'" class="img-list" src="/images/llamar_mesero.png"/>
                        <img *ngIf="_call.type === 'PAYMENT'" class="img-list" src="/images/pago.png"/>
                        <div class="header-title">
                            <div class="label">
                                <span>{{ 'TABLES.TABLE' | translate }} {{_table._number}} </span>
                                <p style="margin-bottom: 0px; margin-top: 0px;" *ngIf="_call.type === 'SEND_ORDER'">{{ 'WAITER_CALL.CALL_LABEL_SEND_ORDER' | translate }}</p>
                                <p style="margin-bottom: 0px; margin-top: 0px;" *ngIf="_call.type === 'CALL_OF_CUSTOMER'">{{ 'WAITER_CALL.CALL_LABEL_CUSTOMER' | translate }}</p>
                                <p style="margin-bottom: 0px; margin-top: 0px;" *ngIf="_call.type === 'PAYMENT'">{{ 'WAITER_CALL.CALL_LABEL_CUSTOMER_PAYMENT' | translate }}</p>
                            </div>
                            <button md-raised-button *ngIf="_call.type === 'SEND_ORDER' || _call.type === 'CALL_OF_CUSTOMER'" (click)="showConfirm(_call)" style="background-color: #679436; color: #eee">
                                {{ 'CLOSE' | translate }}
                            </button>
                            <button md-raised-button *ngIf="_call.type === 'PAYMENT'" (click)="showPayment(_call)" style="background-color: #679436; color: #eee">VER</button>
                        </div>
                    </div>
                </md-card-content>
                <md-card-footer></md-card-footer>
            </md-card>
        </div>
    </div>
</md-card>

<div class="loading" *ngIf="_loading">
    <md-spinner></md-spinner>
</div>