/*#sign-page {
  //height: 100vh;
  //background-size: cover;
  //background: url('/images/background_logo.png') no-repeat center center;
  //background: url('/images/background1.png') no-repeat center center;
  padding-top: 64px;
}

.signup-logo {
  //width: 50%;
  margin-bottom: 2vh;
}

@media (max-width: 600px) {
  .signup-logo {
    //width: 80%;
  }
}

.bg-primary {
  background-color: lightslategray;
  color: #fff;
}

.flex-align {
  width: 360px;
  &.align-start {
    align-self: flex-start;
  }
  &.align-end {
    align-self: flex-end;
  }
}

@media (max-width: 900px)  and (orientation: portrait) {
.flex-align {
    width: 50%;
  }
}

@media (max-width: 600px)  and (orientation: portrait) {
.flex-align {
    width: 80%;
  }
}

@media (max-width: 900px)  and (orientation: landscape) {
.flex-align {
    width: 50%;
  }
}

@media (max-width: 600px)  and (orientation: landscape) {
.flex-align {
    width: 80%;
  }
}

.forgot-password {
  text-align: right;
}

md-input {
  width: 100%;
}

md-input:active {
  color: #DBDBDB;
}

md-card-content > form > button[md-raised-button] {
  width: 100%
}

button[md-raised-button]{
  width: 100%;
  margin-top: 2vh;
}

.fa{
  float:left;
  line-height: inherit;
}

button[md-button]{
  width: 100%;
  margin-top: 2vh;
}

.a-login{
  margin-top: 2vh;
  text-align: center;
}

.md-button-ripple{
  color:#dd4b39;
}

.btn-facebook{
  background-color: #3b5998;
  color: #FFF;
}

.btn-facebook:hover {
    background: #30487b;
}

.btn-twitter{
  background-color: #00aced;
  color: #FFF;
}

.btn-twitter:hover {
    background: #07c;
}

.btn-google{
  background-color: #dd4b39;
  color: #FFF;
}

.btn-google:hover {
    background: #a53325;
}

.error-message{
  color: #f44336;
  font-size: 0.8em;
}
*/

.clear {
  clear:both;
}

body, div {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;vertical-align:baseline;
  font-family: Roboto,'Helvetica Neue',sans-serif;
}

body { 
	-webkit-background-size: cover;
	-moz-background-size: cover;
  background-size: cover;
	font-family: 'Raleway', sans-serif;
	background-attachment:fixed;
	background: linear-gradient(to right, rgb(178, 69, 146), rgb(241, 95, 121));
}

.main {
  padding: 4.5em 0 4.5em;
	text-align: center;
  background-color: whitesmoke;
}

.main-height{
  height: calc(100% - 9em);
}

.main-w3lsrow {
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: relative;
  width: 65%;
  margin: 0 auto;
}

.login-form {
    width: 38%;
    float: left;
    padding: 3em 3em;
}

.login-form.login-form-image {
    position: absolute;
    height: 100%;
    padding: 0;
    width: 50%;
}

.login-form.login-form-image.signin{
    background: url('/images/landing-2.png')no-repeat center -250px;
}

.login-form.login-form-image.signup{
    background: url('/images/signup.png')no-repeat right 0px;
}

.signup-logo {
  position: absolute;
	top: 50%;
	left: 50%;
	height: 30%;
	width: 50%;
	margin: -10% 0 0 -25%;
  color: white;
}

.login-form.login-form-right {
  text-align: left;
  float: right;
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  will-change: box-shadow;
  display: block;
  position: relative;
  border-radius: 2px;
}

.fa{
  float:left;
  line-height: inherit;
}

hr { 
   border: 1px solid #f5f5f5; 
   margin-top: 15px;
   border-radius: 300px ; 
   height: 0px; 
   text-align: center; 
 }

button[md-raised-button]{
  width: 100%;
  margin-top: 2vh;
}

.btn-facebook{
  background-color: #3b5998;
  color: #FFF;
}

.btn-facebook:hover {
    background: #30487b;
}

.error-message{
  color: #f44336;
  font-size: 0.8em;
}

.label-legal {
  font-size: 11px;
  text-align: center;
  margin-top: 8px;
  padding: 0 10px;
  color: #444;
}

.display-inline-block {
  display: inline-block;  
  
  hr {
    display: inline-block;  
    width: 45%;
  }
}