<md-card style="box-shadow: none">
    <md-card-title>{{ 'PAYMENTS.PAY_DETAIL_TITTLE' | translate }}</md-card-title>
        <md-card-content >
            <div id="item" *ngFor="let order of _orders | async">
                <div class="inner-item">
                    <div class="input-wraper">
                        <h3>{{ 'PAYMENTS.PAY_ORDER' | translate }} # {{order.orderItemCount}}</h3>
                    </div>
                    <h3> {{order.totalPayment}} COP</h3>
                </div>
                <div *ngFor="let itemId of order.items">
                    <payment-item-detail [order]="order" [orderItem]="itemId" [resCode]="order.restaurantId"></payment-item-detail>
                </div>
            </div>

            <div class="block">
                <div class="item-inner">
                    <div class="input">
                        <div class="label">
                            <h3>SubTotal:</h3>
                            <h3>INC (8%):</h3>
                            <h3>Total:</h3>
                        </div>
                    </div>
                    <div style="text-align: end">
                        <p>{{_ipoComBaseValue}} COP</p>
                        <p>{{_ipoComValue}} COP</p>
                        <h3>{{_subTotal}} COP</h3>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="item-inner">
                    <div class="input">
                        <div class="label">
                            <h3>Propina:</h3>
                        </div>
                    </div>
                    <div>
                        <p>{{_tipTotal}} COP</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="block">
                    <div class="item-inner">
                        <div class="input">
                            <div class="label">
                                <h2>TOTAL A PAGAR: </h2>
                            </div>
                        </div>
                        <div>
                            <h2>{{_totalValue}} COP</h2>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
        <md-card-footer>
        </md-card-footer>
</md-card>