<mat-card>
    <mat-card-title style="text-align: -webkit-center;">{{'RESTAURANT_LOCATION.TITTLE' | translate}}</mat-card-title>
    <mat-card-subtitle style="text-align: -webkit-center;">{{'RESTAURANT_LOCATION.TEXT' | translate}}</mat-card-subtitle>
    <mat-card-content>
        <!--agm-map [latitude]="_lat" [longitude]="_lng" (mapClick)="mapClicked($event)">
            <agm-marker [latitude]="_lat" [longitude]="_lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
        </agm-map-->
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="secondary-button" type="button" (click)="_dialogRef.close()">{{'RESTAURANT_LOCATION.CLOSE' | translate}}</button>
        <button mat-raised-button type="button" (click)="addRestaurantLocation();">{{'RESTAURANT_LOCATION.UPDATE_POSITION' | translate}}</button>
    </mat-card-actions>
</mat-card>