<ion-header>
    <ion-navbar>
        <ion-title>
            <img id="signup-logo" src="assets/img/logo_iurest_mobile_white.png">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="(_allOrders | async)?.length > 0">
        <ion-item *ngFor="let _res of _restaurants | async">
            <ion-thumbnail item-left>
                <img src="{{_res.urlImage}}">
            </ion-thumbnail>
            <h1 style="white-space:normal">{{_res.name}} </h1>
        </ion-item>

        <ion-item-divider color="light" style="text-align: center; font-weight: bold">{{'MOBILE.ORDERS.TABLE_ORDERS' | translate}}</ion-item-divider>
        <ion-list style="margin-bottom: 0px">
            <ion-item>
                <ion-label>{{'MOBILE.SECTIONS.SELECTION' | translate}}</ion-label>
                <ion-select [(ngModel)]="selected" interface="action-sheet" (ionChange)="filterOrders(selected)" cancelText="{{'MOBILE.SECTIONS.CANCEL'| translate}}"
                    class="custom-select">
                    <ion-option value="all">{{'MOBILE.ORDERS.ALL_ORDERS' | translate}}</ion-option>
                    <ion-option value="me" selected="true">{{'MOBILE.ORDERS.MY_ORDERS' | translate}}</ion-option>
                    <ion-option value="other">{{'MOBILE.ORDERS.OTHER_ORDERS' | translate}}</ion-option>
                    </ion-select>
            </ion-item>
        </ion-list>
        <hr showWhen="android"/>
        <ion-list>
            <div *ngFor="let order of _orders | async; let i = index">
                <div *ngIf="order.creation_user == _currentUserId">
                    <ion-card class="custom-padding-card">
                        <ion-list>
                            <button ion-item style="background-color: #679436;" (click)="showDetail(i)">
                                <ion-row center>
                                    <ion-col col-2>
                                        <div>
                                            <i class="fa fa-list-alt fa-2x" style="color: white"></i>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        <div style="color: white">                                       
                                            {{'MOBILE.ORDERS.ORDER' | translate}}{{order.code}} <br/>
                                            {{'MOBILE.ORDERS.TOTAL' | translate}}{{order.totalPayment}} COP<br/>
                                            {{'MOBILE.ORDERS.STATUS' | translate}}{{order.status}} <br/>
                                        </div>
                                    </ion-col>
                                    <ion-col showWhen="android">
                                        <div>
                                            <ion-icon name="arrow-round-down" style="color: white; float: right"></ion-icon>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </button>
                            <div *ngIf="_orderIndex == i">
                                <ion-row *ngIf="order?.status === 'REGISTERED' && order?.items?.length > 0" no-padding style="background-color: #679436">
                                    <ion-col>
                                        <button ion-button small clear block text-left class="button-secundary" (click)="cancelOrder(order)">{{'MOBILE.ORDERS.CANCEL' | translate}}</button>
                                    </ion-col>
                                    <ion-col>
                                        <button ion-button small clear block text-right class="button-secundary" (click)="confirmOrder(order)">{{'MOBILE.ORDERS.CONFIRM' | translate}}</button>
                                    </ion-col>
                                </ion-row>
                                <div *ngFor="let itemId of order?.items">
                                    <div *ngFor="let item of _items | async">
                                        <ion-list>
                                            <ion-item *ngIf="itemId.itemId == item._id">
                                                <ion-thumbnail item-left>
                                                    <img src="{{item.urlImage}}">
                                                </ion-thumbnail>
                                                <h2 style="white-space: normal;">{{item.name}}</h2>
                                                <p style="white-space: normal;">{{itemId.paymentItem}} COP</p> 
                                                <p *ngIf="!item.isAvailable" class="unavailable-item"> {{'MOBILE.SECTIONS.UNAVAILABLE' | translate}} </p>
                                                <button ion-button icon-only clear item-right (click)="goToItemEdit(order, itemId)">
                                                    <ion-icon *ngIf="order.status === 'REGISTERED'" name="create"></ion-icon>
                                                    <ion-icon *ngIf="order.status !== 'REGISTERED'" name="eye"></ion-icon> 
                                                </button>
                                            </ion-item>
                                        </ion-list>
                                    </div>
                                </div>
                            </div>
                        </ion-list>
                    </ion-card>
                </div>
            </div>
        </ion-list>

        <ion-list>
            <div *ngFor="let order of _orders | async; let i = index">
                <div *ngIf="order.creation_user != _currentUserId">
                    <ion-card class="custom-padding-card">
                        <ion-list>
                            <button ion-item style="background-color: #114B5F" (click)="showDetail(i)">
                            <ion-row center>
                                 <ion-col col-2>
                                    <div>
                                        <i class="fa fa-list-alt fa-2x" style="color: white"></i>
                                    </div>
                                </ion-col>
                                <ion-col>
                                    <div style="color: white">    
                                        {{'MOBILE.ORDERS.ORDER' | translate}}{{order.code}} <br/>
                                        {{'MOBILE.ORDERS.TOTAL' | translate}}{{order.totalPayment}} COP<br/>
                                        {{'MOBILE.ORDERS.STATUS' | translate}}{{order.status}} <br/>
                                    </div>
                                </ion-col>
                                <ion-col showWhen="android"> 
                                    <div>
                                        <ion-icon name="arrow-round-down" style="color: white; float: right"></ion-icon>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </button>
                            <div *ngIf="_orderIndex == i">
                                <div *ngFor="let itemId of order.items">
                                    <div *ngFor="let item of _items | async">
                                        <ion-list>
                                            <ion-item *ngIf="itemId.itemId == item._id">
                                                <ion-thumbnail item-left>
                                                    <img src="{{item.urlImage}}">
                                                </ion-thumbnail>
                                                <h2 style="white-space: normal;">{{item.name}}</h2>
                                                <p style="white-space: normal;">{{item.price}} COP</p>
                                                <p *ngIf="!item.isAvailable" class="unavailable-item"> {{'MOBILE.SECTIONS.UNAVAILABLE' | translate}} </p>
                                                <button ion-button icon-only clear item-right (click)="goToItemEdit(order, itemId)">
                                                    <ion-icon name="eye"></ion-icon>
                                                </button>
                                            </ion-item>
                                        </ion-list>
                                    </div>
                                </div>
                            </div>
                        </ion-list>
                    </ion-card>
                </div>
            </div>
        </ion-list>
    </div>
    <div *ngIf="(_allOrders | async)?.length <= 0">
        <div class="img">
            <img src="assets/img/platos-orden.png">
        </div>
        <div class="content">
            <h1 style="text-align: center">{{'MOBILE.ORDERS.TITTLE_CONTENT' | translate}}</h1>
            <p style="text-align: center">{{'MOBILE.ORDERS.CONTENT' | translate}}</p>
        </div>
    </div>
    <div showWhen="ios" style="height: 40px">
    </div>
    <div showWhen="android" style="height: 10px">
    </div>
</ion-content>

<ion-footer>
    <ion-fab right bottom>
        <button ion-fab class="fab" color="danger" (click)="goToNewOrder()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-footer>