<md-card md-cell="12" class="demo-card demo-basic" style="width: 90%; margin: 0 auto" *ngIf="(_ordersInProcess | async)?.length <= 0">
    <md-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" 
                        src="/images/categories.png"/>
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'ORDER_ATTENTION.NO_ORDERS' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>

<div class="order-content"  *ngIf="(_ordersInProcess | async)?.length > 0">
    <md-toolbar *ngFor="let order of _ordersInProcess | async;" class="order" (click)="showOrderInProcessDetail(order)">
        <i class="fa fa-list-alt" aria-hidden="true" style="margin-right: 1%;"></i>
        <span class="order-code">{{'ORDER_ATTENTION.ORDER' | translate}} # {{order.code}}</span>
        <span class="app-flex-filler"></span>
        <span *ngFor="let table of _tables | async">
            <template [ngIf]="table._id === order.tableId">
                <span class="order-table">{{'ORDER_ATTENTION.TABLE' | translate}} {{table._number}}</span>
            </template>
        </span>
    </md-toolbar>
</div>
<div class="order-detail" *ngIf="(_ordersInProcess | async)?.length > 0">
    <md-card>
        <md-card-title *ngIf="!_showDetailsInProcess" class="message">{{'ORDER_ATTENTION.MESSAGE' | translate}}</md-card-title>
        <div *ngIf="_showDetailsInProcess">
            <div *ngFor="let order of _ordersInProcessDetail | async;">
                <md-card-title class="title">{{'ORDER_ATTENTION.TITLE' | translate}} # {{order.code}}</md-card-title>
                <button md-raised-button class="primary-button prepared-button" (click)="setPreparedState(order)">{{'ORDER_ATTENTION.ORDER_PREPARED' | translate}}</button>
                <md-card-content>
                    <md-divider></md-divider>
                    <span *ngFor="let item of _items | async">
                        <span *ngFor="let it of order.items">
                            <template [ngIf]="item._id === it.itemId">
                                <h2 class="name">{{it.quantity}} - {{item.name}}</h2>
                                <p *ngIf="it.observations" class="observations">{{'ORDER_ATTENTION.OBSERVATIONS' | translate}}: {{it.observations}}</p>
                                <p *ngIf="(it.garnishFood.length <= 0)" class="no-garnish">{{'ORDER_ATTENTION.NO_GARNISH_FOOD' | translate}}</p>
                                <div *ngIf="(it.garnishFood.length > 0)" class="garnish-food">
                                    <p class="garnish-title">{{'ORDER_ATTENTION.GARNISH_FOOD' | translate}}:</p>
                                    <span *ngFor="let garnish of _garnishFoodCol | async">
                                        <span *ngFor="let gar of it.garnishFood">
                                            <template [ngIf]="gar === garnish._id">
                                                <p class="garnish-name">- {{garnish.name}}</p>     
                                            </template>
                                        </span>
                                    </span>
                                </div>
                                <p class="no-addition" *ngIf="(it.additions.length <= 0)">- {{'ORDER_ATTENTION.NO_ADDITIONS' | translate}}</p>
                                <div *ngIf="(it.additions.length > 0)" class="addition">
                                    <p class="addition-title">{{'ORDER_ATTENTION.ADDITIONS' | translate}}:</p>
                                    <span *ngFor="let addition of _additions | async">
                                        <span *ngFor="let add of it.additions">
                                            <template [ngIf]="add === addition._id">
                                                <p class="addition-name">- {{it.quantity}} {{addition.name}}</p>  
                                            </template>
                                        </span>
                                    </span>
                                </div>
                                <md-divider></md-divider>
                            </template>
                        </span>
                    </span>
                    <span *ngFor="let addit of _additions | async">
                        <span *ngFor="let ad of order.additions">
                            <template [ngIf]="addit._id === ad.additionId">
                                <h2 class="name">{{ad.quantity}} {{'ORDER_ATTENTION.ADDITION' | translate}} - {{addit.name}}</h2>
                                <md-divider></md-divider>
                            </template>
                        </span>
                    </span>
                </md-card-content>
            </div>
        </div>
    </md-card>
</div>

<div class="loading" *ngIf="_loading">
    <md-spinner></md-spinner>
</div>