<md-card style="box-shadow: none">
    <md-card-title>{{ 'RESTAURANT_REGISTER.RESTAURANT_CREATION' | translate }}</md-card-title>
    <md-card-content>
        <div style="width: 450px; margin-bottom: 15px">
            <span style="color:red">* </span>{{ 'RESTAURANT_REGISTER.ACTIVATION_MESSAGE' | translate }}
        </div>
        <div style="width: 450px">
            <span style="color:red">* </span>{{ 'RESTAURANT_REGISTER.CLARIFICATION_MESSAGE_1' | translate }} {{getFirstDay()}}
                                               {{ 'RESTAURANT_REGISTER.CLARIFICATION_MESSAGE_2' | translate }} {{getDiscountPercent()}}%
        </div>
    </md-card-content>
    <md-card-actions align="end">
        <button md-raised-button class="secondary-button" (click)="cancel()">{{ 'RESTAURANT_REGISTER.CANCEL_CREATION' | translate }}</button>
        <button md-raised-button class="primary-button" (click)="closeConfirm()" type="submit">{{ 'RESTAURANT_REGISTER.ACCEPT_CREATION' | translate }}</button>
    </md-card-actions>
</md-card>