<mat-card>
    <mat-card-title style="text-align: -webkit-center;">{{'RESTAURANT_LOCATION_INFO.TITTLE' | translate}}</mat-card-title>
    <mat-card-content>
        <!--agm-map [latitude]="_lat" [longitude]="_lng">
            <agm-marker *ngIf="!_showMessage" [latitude]="_lat" [longitude]="_lng"></agm-marker>
        </agm-map-->
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="secondary-button" type="button" (click)="_dialogRef.close()">{{'RESTAURANT_LOCATION_INFO.CLOSE' | translate}}</button>
    </mat-card-actions>
</mat-card>
<div *ngIf="_showMessage" style="text-align: center">
    <p>{{'RESTAURANT_LOCATION_INFO.MESSAGE' | translate}}</p>
</div>