<div *ngFor="let restaurant of _restaurants | async">
    <md-card>
        <md-card-title>{{'MONTHLY_CONFIG.ACTIVE_INACTIVE_REST' | translate}}
            <button md-fab style="float:right" (click)="backToList()">
                <md-icon style="color: white;">chevron_left</md-icon>
            </button>
        </md-card-title>
        <md-card-subtitle>{{'MONTHLY_CONFIG.ACTIVE_INACTIVE_REST_DESC' | translate}}</md-card-subtitle>
        <md-card-content>
            <label style="margin-right: 20px">{{restaurant.name}}</label>
            <button md-raised-button *ngIf="restaurant.isActive" style="background-color: red;color: white;" (click)="updateStatus(restaurant)">{{'MONTHLY_CONFIG.INACTIVATE_RES' | translate}}</button>
            <button md-raised-button *ngIf="!restaurant.isActive" style="background-color: green;color: white;" (click)="updateStatus(restaurant)">{{'MONTHLY_CONFIG.ACTIVATE_RES' | translate}}</button>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>{{'MONTHLY_CONFIG.ADD_TABLES' | translate}}</md-card-title>
        <md-card-subtitle>{{'MONTHLY_CONFIG.DESC_ADD_TABLES' | translate}}</md-card-subtitle>
        <md-card-content style="background: #FFF">
            <form [formGroup]="_tableForm" (ngSubmit)="addTables();">
                <table style="width: 100%">
                    <tr>
                        <th style="width: 10%">
                            <label>{{'TABLES.RESTAURANT' | translate}}</label>
                        </th>
                        <td style="width: 35%">
                            <label>{{restaurant.name}}</label>
                        </td>
                        <td style="width: 30%">
                            <md-input-container style="width: 95%">
                                <input mdInput required formControlName="tables_number" placeholder="{{'TABLES.NUMBER_TABLES' | translate}}" minlength="1"
                                    maxlength="3" #inputTables>
                                <md-hint align="end">{{inputTables.value.length}} / 3</md-hint>
                            </md-input-container>
                        </td>
                        <td style="width: 25%; text-align:center">
                            <button md-raised-button class="button-secundary" type="button" (click)="cancel()">{{'CANCEL' | translate}}</button>
                            <button md-raised-button class="button-primary" type="submit">{{'CREATE' | translate}}</button>
                        </td>
                    </tr>
                </table>
            </form>
        </md-card-content>
    </md-card>

    <md-card *ngFor="let table of _tables | async" style="width: 13.4%; display: inline-block; margin-right: 20px;">
        {{'MONTHLY_CONFIG.TABLE_ENUM' | translate}} {{table._number}}
        <md-slide-toggle [(checked)]="table.is_active" (change)="updateTableStatus(table)">{{getTableStatus(table) | translate}}</md-slide-toggle>
    </md-card>

    <div *ngIf="false" class="fixed-action-btn">
        <button md-fab style="float:right" (click)="backToList()">
            <md-icon style="color: white;">chevron_left</md-icon>
        </button>
    </div>
</div>