.main {
    position: relative;
    display: block;
    height: 100%;
    overflow: auto;
    margin-right: 0px;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

    .cards{
        width: 225px;
        display: inline-block; 
        margin-right: 20px; 
        vertical-align: top;
    }

    .crop {
        height: 200px;
        overflow: hidden;
        margin: 0 -24px 0px;
    }

    .crop img {
        width: calc(100% + 48px);
        height: 35vh;
        margin: 0 -15px 0px;
    }

    .title-font{
        font-family: "Open Sans",Arial,sans-serif;
    }
}