<div class="main">
    <div class="main-overflow">
            <md-card class="cards" *ngFor="let item of _items | async">
                <md-card-header>
                    <md-card-title>{{item.name}}</md-card-title>
                </md-card-header>
                <div class="crop">
                    <span *ngFor="let image of _itemImages | async">
                        <template [ngIf]="image.itemId == item._id">
                            <img src="{{image.url}}">
                        </template>
                    </span>
                </div>
                <br/>
                <md-card-content>
                    <p *ngIf="item.description.length > 50">{{item.description.substring(1, 50)}}...</p>
                    <p *ngIf="item.description.length <= 50">{{item.description}}</p>
                    <md-slide-toggle [(checked)]="item.isAvailable" (change)="updateAvailableFlag(item)">Habilitar/Inhabilitar Item</md-slide-toggle>
                </md-card-content>
            </md-card>
    </div>
</div>