<ion-header>
  <ion-navbar>
    <ion-title>{{'MOBILE.SECTIONS.MENU' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let _res of _restaurants | async">
    <ion-thumbnail item-left>
      <img src="{{_res.urlImage}}">
    </ion-thumbnail>
    <h1 style="white-space:normal; font-size: 1.8rem">{{_res.name}} </h1>
    <p *ngFor="let city of _cities | async">
      {{city.name}}
    </p>
    <p *ngFor="let country of _countries | async">
      {{country.name | translate}}
    </p>
  </ion-item>

  <hr showWhen="android"/>
  <ion-list style="margin-bottom: 0px">
    <ion-item>
      <ion-label>{{'MOBILE.SECTIONS.SELECTION' | translate}}</ion-label>
      <ion-select [(ngModel)]="selected" interface="action-sheet" (ionChange)="validateSection(selected)" cancelText="{{'MOBILE.SECTIONS.CANCEL'| translate}}" class="custom-select">
        <ion-option value="all" selected="true">{{'MOBILE.SECTIONS.ALL' | translate}}</ion-option>
        <ion-option *ngFor="let section of _sections | async" value="{{section._id}}">{{section.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <hr showWhen="android"/>

  <div *ngFor="let section of _sections | async">
    <div *ngFor="let item of _items | async">
      <div *ngFor="let imageThumb of _imageThumbs | async">
        <button ion-item *ngIf="(item.sectionId == section._id) && item.categoryId == '' && item.subcategoryId == ''" (click)="goToDetail(item._id)">
          <ion-thumbnail item-left>
            <img *ngIf="imageThumb.itemId == item._id"  src="{{imageThumb.url}}">
          </ion-thumbnail>
          <h2 style="white-space: normal">{{item.name}}</h2>
          <p class="custom-paragraph">{{item.description}}</p>
          <p>{{item.price}} COP</p>
          <p *ngIf="!item.isAvailable" class="unavailable-item"> {{'MOBILE.SECTIONS.UNAVAILABLE' | translate}} </p>
        </button>
      </div>
    </div>
  </div>

  <ion-item-group *ngFor="let category of _categories | async">
    <ion-item-divider color="light" style="text-align: center; font-weight: bold">{{category.name}}</ion-item-divider>
    <div *ngFor="let item of _items | async">
      <button ion-item *ngIf="(item.categoryId == category._id) && item.subcategoryId == ''" (click)="goToDetail(item._id)">
        <ion-thumbnail item-left>
          <img src="{{item.urlImage}}">
        </ion-thumbnail>
        <h2 style="white-space: normal">{{item.name}}</h2>
        <p class="custom-paragraph">{{item.description}}</p>
        <p>{{item.price}} COP</p>
        <p *ngIf="!item.isAvailable" class="unavailable-item"> {{'MOBILE.SECTIONS.UNAVAILABLE' | translate}} </p>
      </button>
    </div>
    <div *ngFor="let subcategory of _subcategories | async">
      <div *ngIf="subcategory.category == category._id">
        <ion-item-divider class="custom-item-divider">{{subcategory.name}}</ion-item-divider>
        <div *ngFor="let item of _items | async">
          <button ion-item *ngIf="item.subcategoryId == subcategory._id" (click)="goToDetail(item._id)">
            <ion-thumbnail item-left>
              <img src="{{item.urlImage}}">
            </ion-thumbnail>
            <h2 style="white-space: normal">{{item.name}}</h2>
            <p class="custom-paragraph">{{item.description}}</p>
            <p>{{item.price}} COP</p>
            <p *ngIf="!item.isAvailable" class="unavailable-item"> {{'MOBILE.SECTIONS.UNAVAILABLE' | translate}} </p>
          </button>
        </div>
      </div>
    </div>
  </ion-item-group>
</ion-content>
<ion-footer>
  <ion-fab right bottom>
    <button style="bottom: 0px" ion-fab color="light" mini (click)="goTop()"><ion-icon name="arrow-up"></ion-icon></button>
  </ion-fab>
</ion-footer>