<div class="main">
    <md-card *ngIf="_paymentCreated">
        <md-list>
            <md-list-item>
                <img md-list-avatar class="image" src="/images/waiter.png">
                <h2 md-line class="card-title">{{'PAYMENTS.COLOMBIA.PENDING_PAYMENT_TITLE' | translate}}</h2>
                <p md-line class="card-waiter-msg">{{'PAYMENTS.COLOMBIA.PENDING_PAYMENT_MSG' | translate}}</p>
                <button md-raised-button color="primary" class="card-button" (click)="viewPaymentDetail()">{{'PAYMENTS.COLOMBIA.VIEW_DETAIL' | translate}}</button>                
            </md-list-item>
        </md-list>
    </md-card>
    <md-card>
        <md-list>
            <md-list-item>
                <img md-list-avatar class="image" src="/images/orders-detail.png">
                <h2 md-line class="card-title">{{'PAYMENTS.COLOMBIA.ORDER_DETAILS' | translate}}</h2>
                <p md-line class="card-subtitle">{{'PAYMENTS.COLOMBIA.VIEW_ORDERS_DETAIL' | translate}}</p>
                <button md-raised-button color="primary" class="card-button" (click)="viewOrderDetail()">{{'PAYMENTS.COLOMBIA.VIEW_DETAIL' | translate}}</button>
            </md-list-item>
        </md-list>
    </md-card>
    <md-card>
        <md-list>
            <md-list-item>
                <img md-list-avatar class="image" src="/images/orders-transfer.png">
                <h2 md-line class="card-title">{{'PAYMENTS.COLOMBIA.ADD_ORDER' | translate}}</h2>
                <p md-line class="card-subtitle">{{'PAYMENTS.COLOMBIA.ADD_ORDER_MSG' | translate}}</p>
                <button md-raised-button color="primary" class="card-button" (click)="viewOrderTranslate()">{{'PAYMENTS.COLOMBIA.VIEW_DETAIL' | translate}}</button>
            </md-list-item>
        </md-list>
        <div *ngIf="_showAlertToConfirm" class="show-alert">
            <md-icon class="confirm" md-tooltip="{{'PAYMENTS.COLOMBIA.ORDERS_TO_CONFIRM_MSG' | translate}}" mdTooltipPosition="right">info</md-icon>
        </div>
        <div *ngIf="_showAlertWithPendingConf" class="show-alert">
            <md-icon class="pending-confirm" md-tooltip="{{'PAYMENTS.COLOMBIA.ORDERS_PENDIING_CONFIRM_MSG' | translate}}" mdTooltipPosition="right">info</md-icon>
        </div>
    </md-card>
    <md-card class="payment-info">
        <md-card-title>{{'PAYMENTS.COLOMBIA.PAYMENT_OPTIONS' | translate}}</md-card-title>
        <md-card-content>      
            <md-checkbox class="tipValue" (change)="allowTip($event)" [(ngModel)]="_isCheckedTip">{{'PAYMENTS.COLOMBIA.TIPS' | translate}} ({{_tipValue}}%)</md-checkbox> 
            <p class="tipTotal">{{_tipTotalString}} {{_currencyCode}}</p>
            <div>
                <md-checkbox class="tipValue" (change)="allowOtherTip($event)" [(ngModel)]="_isCheckedOtherTip">{{'PAYMENTS.COLOMBIA.OTHER_VALUE' | translate}}:</md-checkbox> 
                <div class="otherTip-content">
                    <md-input-container class="otherTip">
                        <input mdInput type="number" min="0" [(disabled)]="_otherTipAllowed" [(ngModel)]="_otherTip" (input)="sumOtherTip($event.target.value)">
                    </md-input-container>{{_currencyCode}}                
                </div>
            </div>
            <md-select class="payment-method" placeholder="{{'PAYMENTS.COLOMBIA.SELECT_PAYMENT_METHOD' | translate}}" [(ngModel)]="_paymentMethodId">
                <md-option *ngFor="let paymentMethod of _paymentMethods | async" (click)="setPaymentMethod(paymentMethod._id);" value="{{paymentMethod._id}}">{{paymentMethod.name | translate}}</md-option>
            </md-select>
            <div>
                <div class="block">
                    <div class="item-inner">
                        <div class="input">
                            <div class="label">
                                <h2>{{'PAYMENTS.COLOMBIA.TOTAL_TO_PAY' | translate}}</h2>
                            </div>
                        </div>
                        <div>
                            <h2>{{_totalToPayment}} {{_currencyCode}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button md-raised-button class="pay-button" color="primary" [disabled]="_OutstandingBalance" (click)="pay()">{{'PAYMENTS.COLOMBIA.PAY' | translate}}</button>
            </div>
        </md-card-content>
    </md-card>
</div>