<div>
    <div>
        <md-card class="payment-info">
            <md-card-title>{{'PAYMENTS.COLOMBIA.PAYMENT_OPTIONS' | translate}}</md-card-title>
            <md-card-content>      
                <md-checkbox class="tipValue" (change)="allowTip($event)">{{'PAYMENTS.COLOMBIA.TIPS' | translate}} ({{_tipValue}}%)</md-checkbox> 
                <p class="tipTotal">{{_tipTotalString}} {{_currencyCode}}</p>
                <div>
                    <md-checkbox class="tipValue" (change)="allowOtherTip($event)">{{'PAYMENTS.COLOMBIA.OTHER_VALUE' | translate}}:</md-checkbox> 
                    <div class="otherTip-content">
                        <md-input-container class="otherTip">
                            <input mdInput type="number" min="0" [(disabled)]="_otherTipAllowed" [(ngModel)]="_otherTip" (input)="sumOtherTip($event.target.value)">
                        </md-input-container>{{_currencyCode}}                
                    </div>
                </div>
                <md-select class="payment-method" placeholder="{{'PAYMENTS.COLOMBIA.SELECT_PAYMENT_METHOD' | translate}}">
                    <md-option *ngFor="let paymentMethod of _paymentMethods | async" (click)="setPaymentMethod(paymentMethod._id);" value="{{paymentMethod._id}}">{{paymentMethod.name | translate}}</md-option>
                </md-select>
                <div>
                    <div class="block">
                        <div class="item-inner">
                            <div class="input">
                                <div class="label">
                                    <h2>{{'PAYMENTS.COLOMBIA.TOTAL_TO_PAY' | translate}}</h2>
                                </div>
                            </div>
                            <div>
                                <h2>{{_totalToPayment}} {{_currencyCode}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button md-raised-button class="pay-button" color="primary" *ngIf="!_paymentCreated" (click)="pay()">{{'PAYMENTS.COLOMBIA.PAY' | translate}}</button>
                    <p *ngIf="_paymentCreated" class="waiter-message">{{'PAYMENTS.COLOMBIA.PENDING_PAYMENT' | translate}}</p>
                </div>
            </md-card-content>
        </md-card>
        <md-card class="order-info">
            <md-card-title class="order-detail">{{'PAYMENTS.COLOMBIA.ORDER_DETAILS' | translate}}</md-card-title>
            <button md-raised-button class="pay-detail" color="primary" (click)="open()">{{'PAYMENTS.COLOMBIA.CONSULT_PAYMENTS' | translate}}</button>
            <md-card-content>
                <div class="orders-list">
                    <table class="centered striped">
                        <thead>
                            <tr>
                                <th data-field="order">{{'PAYMENTS.COLOMBIA.PAY_ORDER' | translate}}</th>
                                <th data-field="status">{{'PAYMENTS.COLOMBIA.STATUS' | translate}}</th>
                                <th data-field="payment">{{'PAYMENTS.COLOMBIA.FULL_PAYMENT' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of _orders | async">
                                <td>{{ 'PAYMENTS.COLOMBIA.PAY_ORDER' | translate }} # {{order.code}}</td>
                                <td>{{order.status | translate}}</td>
                                <td>{{order.totalPayment}} {{_currencyCode}}</td>
                                <td *ngIf="isAvailableToReturn(order)">
                                    <button md-icon-button (click)="returnOrderToFirstOwner(order)"><md-icon class="md-24">repeat</md-icon></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <order-payment-translate [resId]="restId" [currId]="currId" [tabId]="tabId" (recalculate)="reCalculateValues($event)"></order-payment-translate>
</div>
<div class="loading" *ngIf="_loading">
    <md-spinner></md-spinner>
</div>