<md-progress-bar mode="indeterminate" *ngIf="_isLoadingRoute"></md-progress-bar>

<md-toolbar>
  <button md-icon-button (click)="toggleSidenav()" id="menu-toggler" *ngIf="_showToggleSidenav" style="margin-right: -16px;">
    <md-icon>menu</md-icon>
  </button>

  <a href="/app/">
    <img class="logo" src="/images/logo_iurest_white.png">
  </a>

  <span class="breadcrumb-holder" *ngIf="_navigation.largeScreen" style="position: absolute; margin-left: 225px;">
    <span *ngFor="let breadcrumb of _breadcrumbs" class="breadcrumb">
      <a *ngIf="breadcrumb.link !== null" [routerLink]="breadcrumb.link" class="breadcrumb-link">{{breadcrumb.title}}</a>
      <a *ngIf="breadcrumb.link === null" class="breadcrumb-link">{{breadcrumb.title}}</a>
    </span>
  <span class="breadcrumb" *ngIf="!showMenuName">{{_pageTitle}}</span>
  <span class="breadcrumb" *ngIf="showMenuName">{{menuName}}</span>
  </span>
  <span *ngIf="_navigation.mediumScreenAndDown && (_breadcrumbs.length === 0 || _autoBreadcrumbs) && !_searchToggled">
    {{_pageTitle}}
  </span>

  <span class="app-flex-filler"></span>

  <c-customer-menu *ngIf="!_showToggleSidenav && _itemsTopMenu === 'customer'" (menuname)="getMenuName($event)"></c-customer-menu>
  <c-chef-menu *ngIf="!_showToggleSidenav && _itemsTopMenu === 'chef'" (menuname)="getMenuName($event)"></c-chef-menu>
  <c-waiter-menu *ngIf="!_showToggleSidenav && _itemsTopMenu === 'waiter'" (menuname)="getMenuName($event)"></c-waiter-menu>

  <div class="buttom-profile">
    <button md-icon-button [md-menu-trigger-for]="menu" id="user-dropdown-toggler" style="padding: 0;">
      <img class="profile-img" md-list-avatar src="{{ getUsetImage() }}">
      {{ _userName }}
      <md-icon>keyboard_arrow_down</md-icon>
    </button>
  </div>

  <md-menu #menu="mdMenu" x-position="before">
    <button md-menu-item *ngIf="_itemsTopMenu === 'customer' " [routerLink]="['/app/customer-payments-history']">
      <md-icon>payment</md-icon>
      <span>{{ 'PAYMENTS_HISTORY.TITLE' | translate }}</span>
    </button>
    <button md-menu-item [routerLink]="['/app/settings']">
      <md-icon>settings</md-icon>
      <span>{{ 'SETTINGS.TITTLE' | translate }}</span>
    </button>
    <button md-menu-item (click)="signOut()">
      <md-icon>launch</md-icon>
      <span>{{ 'SIGN_OUT' | translate }}</span>
    </button>
  </md-menu>
  <md-toolbar-row *ngIf="_navigation.mediumScreenAndDown && _breadcrumbs.length > 0 && !_autoBreadcrumbs">
    <span class="breadcrumb-holder">
      <span *ngFor="let breadcrumb of _breadcrumbs" class="breadcrumb">
        <a *ngIf="breadcrumb.link !== null" [routerLink]="breadcrumb.link" class="breadcrumb-link">{{breadcrumb.title}}</a>
        <a *ngIf="breadcrumb.link === null" class="breadcrumb-link">{{breadcrumb.title}}</a>
      </span>
    <span class="breadcrumb">{{_pageTitle}}</span>
    </span>
  </md-toolbar-row>
</md-toolbar>