:host {
  display: block;
}

md-progress-bar {
  position: absolute;
}

md-toolbar {
  position: fixed;
  //background-color: #E53935;
  background-color: #3c4146;
  color: #fafafa;
  z-index: 999;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}

.buttom-profile {
  padding: 0 40px 0 0;
}

.profile-img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo {
  padding: 0 40px 0 40px;
  height: 39px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimizeQuality;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

#menu-toggler {
    color: #fafafa;
}