<md-card *ngIf="(restaurants | async)?.length <= 0" md-cell="12" class="demo-card demo-basic" style="width: 90%; margin: 0 auto">
    <md-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" 
                    src="/images/restaurantes.png"/>
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{ 'RESTAURANT.MSG_INITIAL' | translate }}
                    </div>
                    <div class="card_initial-additional-links">
                        
                    </div>
                </div>
                <div class="card_initial-button">
                    <button md-raised-button (click)="openRestaurantRegister()">{{'RESTAURANT.REGISTER_RESTAURANT' | translate}}</button>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>

<div class="global-div">
    <div class="div-whitout-overflow">
        <div class="cards-div">
            <md-card *ngFor="let restaurant of restaurants | async" class="custom-cards">
                <div class="header-card">
                    <img src="{{ getRestaurantImage(restaurant._id) }}">
                    <span class="mat-card-title">{{restaurant.name}}</span>
                    <span class="mat-card-subtitle">{{restaurant.address}}</span>
                    <button md-tooltip="{{'RESTAURANT.EDIT_RESTAURANT' | translate}}" md-fab class="btn-position-edition" (click)="openRestaurantEdition(restaurant)">
                        <md-icon style="color: white;" class="md-24">create</md-icon>
                    </button>
                </div>
                <md-card-content>
                    <!--
                    <div style="position: relative">
                        <button md-tooltip="{{'RESTAURANT.LOCATION' | translate}}" md-mini-fab class="btn-position-location" (click)="openLocation(restaurant)"> <md-icon style="color: white;" class="md-24">map</md-icon></button>
                    </div>
                    -->
                    <ul class="list">
                        <li>
                            <md-icon class="vertical-align-middle" md-tooltip="{{'RESTAURANT.COUNTRY' | translate}}">room</md-icon>
                            <label>{{ getRestaurantCountry(restaurant.countryId) | translate }} - {{ getRestaurantCity(restaurant.cityId) | translate }}</label>
                        </li>
                        <li>
                            <md-icon class="vertical-align-middle" md-tooltip="{{'RESTAURANT.PHONE' | translate}}">call</md-icon>
                            <label>{{restaurant.indicative}} {{restaurant.phone}}</label>
                        </li>
                        <li *ngIf="restaurant.webPage">
                            <md-icon class="vertical-align-middle" md-tooltip="{{'RESTAURANT.WEBPAGE' | translate}}">language</md-icon>
                            <label>{{restaurant.webPage}}</label>
                        </li>
                        <li *ngIf="restaurant.email">
                            <md-icon class="vertical-align-middle" md-tooltip="{{'RESTAURANT.EMAIL' | translate}}">email</md-icon>
                            <label>{{restaurant.email}}</label>
                        </li>
                    </ul>
                    <div class="card-footer-btn">
                        <button md-icon-button md-tooltip="{{'RESTAURANT.SCHEDULE' | translate}}" (click)="openSchedule(restaurant)">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                        <button md-icon-button md-tooltip="Facebook" (click)="openFacebookLink(restaurant)">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </button>
                        <button md-icon-button md-tooltip="Twitter" (click)="openTwitterLink(restaurant)">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </button>
                        <button md-icon-button md-tooltip="Instagram" (click)="openInstagramLink(restaurant)">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <button *ngIf="(restaurants | async)?.length>0" md-tooltip="{{'RESTAURANT.REGISTER_RESTAURANT' | translate}}" class="fixed-action-btn" md-fab (click)="openRestaurantRegister()"> <md-icon style="color: white;">add</md-icon></button>
</div>