.btn-position-today{
    position: absolute;
    top: -45px;
    right: 80px;
}

.btn-position-location{
    position: absolute;
    top: -45px;
    right: 135px;
}

.fixed-action-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}