<button *ngIf="(restaurants | async)?.length>0" md-tooltip="{{'RESTAURANT.REGISTER_RESTAURANT' | translate}}" class="fixed-action-btn" md-fab (click)="openRestaurantRegister()"> <md-icon style="color: white;">add</md-icon></button>

<md-card *ngIf="(restaurants | async)?.length <= 0" md-cell="12" class="demo-card demo-basic" style="width: 90%; margin: 0 auto">
    <md-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" 
                        src="/images/restaurantes.png"/>
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{ 'RESTAURANT.MSG_INITIAL' | translate }}
                    </div>
                    <div class="card_initial-additional-links">
                        
                    </div>
                </div>
                <div class="card_initial-button">
                    <button md-raised-button (click)="openRestaurantRegister()">{{'RESTAURANT.REGISTER_RESTAURANT' | translate}}</button>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>

<md-card *ngFor="let restaurant of restaurants | async" class="cards">
    <md-card-header>
        <md-card-title>{{restaurant.name}}</md-card-title>
        <md-card-subtitle>{{restaurant.address}}</md-card-subtitle>
    </md-card-header>
    <span *ngFor="let resImg of _restaurantImages | async" >
        <template [ngIf]="restaurant._id == resImg.restaurantId">
            <img md-card-image style="margin-top: 0;" src="{{resImg.url}}">
        </template>
    </span>
    <md-card-content>
        <div style="position: relative">
            <button md-tooltip="{{'RESTAURANT.LOCATION' | translate}}" md-mini-fab class="btn-position-location" (click)="openLocation(restaurant)"> <md-icon style="color: white;" class="md-24">map</md-icon></button>
        </div>
        <div style="position: relative">
            <button md-tooltip="{{'RESTAURANT.SCHEDULE' | translate}}" md-mini-fab class="btn-position-today" (click)="openSchedule(restaurant)"> <md-icon style="color: white;" class="md-24">today</md-icon></button>
        </div>
        <div style="position: relative">
            <button md-tooltip="{{'RESTAURANT.EDIT_RESTAURANT' | translate}}" md-fab class="btn-position-create" (click)="openRestaurantEdition(restaurant)"> <md-icon style="color: white;" class="md-24">create</md-icon></button>
        </div>
        <ul class="list">
            <li>
                <md-icon md-tooltip="{{'RESTAURANT.COUNTRY' | translate}}">room</md-icon>                   
                <span *ngFor="let country of countries | async" >
                    <template [ngIf]="country._id == restaurant.countryId">                
                        <label>{{country.name | translate}}</label>
                    </template>
                </span>                                    
                <label> - </label>                  
                <span *ngFor="let city of cities | async" >
                    <template [ngIf]="city._id == restaurant.cityId">                
                        <label>{{city.name }}</label>
                    </template>
                </span>
            </li>
            <li>
                <md-icon md-tooltip="{{'RESTAURANT.PHONE' | translate}}">call</md-icon>
                <label>{{restaurant.indicative}}</label>
                <label> - </label>
                <label>{{restaurant.phone}}</label>
            </li>
            <li *ngIf="restaurant.webPage">
                <md-icon md-tooltip="{{'RESTAURANT.WEBPAGE' | translate}}">language</md-icon>
                <label>{{restaurant.webPage}}</label>
            </li>
            <li *ngIf="restaurant.email">
                <md-icon md-tooltip="{{'RESTAURANT.EMAIL' | translate}}">email</md-icon>
                <label>{{restaurant.email}}</label>
            </li>
        </ul>
    </md-card-content>
</md-card>
