<mat-card>
    <mat-card-title>Twitter</mat-card-title>
    <mat-card-subtitle>{{'RESTAURANT.ADD_TWITTER_LINK' | translate}}</mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="_restaurantTwitterForm" (ngSubmit)="updateTwitterLink()">
            <mat-form-field style="width: 100%;" type="url">
                <input matInput formControlName="twitterLink" placeholder="{{'RESTAURANT.TWITTER_LINK' | translate}}">
            </mat-form-field>
            <div>
                <button mat-raised-button class="secondary-button" type="button" (click)="close()">{{'CANCEL' | translate}}</button>
                <button mat-raised-button class="primary-button" type="submit">{{'UPDATE' | translate}}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>