.btn-toggle-cust{
    width: 280px
}

md-button-toggle{
    border: solid 1.5px ;
    border-color: white;
    background: #F0F0F0;
}

.mat-button-toggle-checked{
    background-color: rgb(84, 110, 122) !important;
}

.mat-button-toggle-group{

}