.fixed-action-btn {		
    position: relative;

    button {
        position: absolute;
        bottom: 30px;
        right: 35px;
        width: 56px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
 }

 .title{
     display: inline-block;
 }

 .button-detail{
     float: right;
 }

 .to-pay-false{
     color: red;
 }

 .to-pay-true{
     color: green;
 }