.fixed-action-btn {		
    position: relative;

    button {
        position: absolute;
        bottom: 30px;
        right: 35px;
        width: 56px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
 }

 .main{
     width: 55%;
     margin: 0 auto;

     .order-info{

         .image{
             border-radius: 50%; 
             width: 100px; 
             height: 100px;
         }
         .title{
             color: black;
             font-weight: bold;
         }
     }

     .divider{
         margin-left: 7rem;
         width: 80%;
     }

     .order-details{

         .element{
             margin-left: 7rem;

             .price{
                 display: inline;
             }

             .quantity{
                 display: inline;
                 margin-left: 2rem;
             }

             .total{
                 display: inline;
                 margin-left: 3rem;
                 color: black;
             }
         }
     }
 }