<md-card md-cell="12" class="demo-card demo-basic" style="width: 90%; margin: 0 auto" *ngIf="!_showPaymentInfo">
    <md-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
              <div class="card_initial-image-container">
                <img class="card_initial-image" src="/images/payment-desabled.png"/>
              </div>
              <div class="card_initial-copy">
                <div class="card_initial-tagline">
                  {{'PAYMENTS.THERE_IS_NOT_REST' | translate}}
                </div>
                <div class="card_initial-additional-links">
                  {{'PAYMENTS.THERE_IS_NOT_REST_MSG' | translate}}
                </div>
              </div>
              <div class="card_initial-button">
                <button md-raised-button (click)="goToOrders()">{{'PAYMENTS.GO_TO_ORDERS' | translate}}</button>
              </div>
            </div>
        </div>
    </md-card-content>
</md-card>
<div *ngIf="_showPaymentInfo">
    <md-card>
        <md-card-title class="title">{{'PAYMENTS.COLOMBIA.ORDER_DETAILS' | translate}}</md-card-title>
        <button md-raised-button class="button-detail" color="primary" (click)="openDetail()">{{'PAYMENTS.COLOMBIA.CONSULT_PAYMENTS' | translate}}</button>
        <md-card-subtitle>{{'PAYMENTS.COLOMBIA.VIEW_ORDER_DETAILS' | translate}}</md-card-subtitle>
        <md-card-content>
            <div>
                <table class="centered striped">
                    <thead>
                        <tr>
                            <th data-field="order">{{'PAYMENTS.COLOMBIA.PAY_ORDER' | translate}}</th>
                            <th data-field="status">{{'PAYMENTS.COLOMBIA.STATUS' | translate}}</th>
                            <th data-field="payment">{{'PAYMENTS.COLOMBIA.FULL_PAYMENT' | translate}}</th>
                            <th data-field="order-pay">{{'PAYMENTS.COLOMBIA.IN_PROCESS_PAYMENT' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of _orders | async">
                            <td>{{ 'PAYMENTS.COLOMBIA.PAY_ORDER' | translate }} # {{order.code}}</td>
                            <td>{{order.status | translate}}</td>
                            <td>{{order.totalPayment}} {{_currencyCode}}</td>
                            <td *ngIf="!order.toPay" class="to-pay-false"><md-icon>clear</md-icon></td>
                            <td *ngIf="order.toPay" class="to-pay-true"><md-icon>check</md-icon></td>
                            <td *ngIf="isAvailableToReturn(order)">
                                <button md-icon-button md-tooltip="{{ 'PAYMENTS.COLOMBIA.RETURN_ORDER' | translate }}" mdTooltipPosition="above" (click)="returnOrderToFirstOwner(order)"><md-icon class="md-24">repeat</md-icon></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="block">
                <div class="item-inner">
                    <div class="input">
                        <div class="label">
                            <h3>{{'PAYMENTS.COLOMBIA.SUBTOTAL' | translate}}</h3>
                            <h3>{{'PAYMENTS.COLOMBIA.INC' | translate}} (8%)</h3>
                            <h2>{{'PAYMENTS.COLOMBIA.TOTAL' | translate}}</h2>
                        </div>
                    </div>
                    <div style="text-align: end">
                        <p>{{_ipoComBaseString}} {{_currencyCode}}</p>
                        <p>{{_ipoComString}} {{_currencyCode}}</p>
                        <h2>{{_totalValue}} {{_currencyCode}}</h2>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
        </md-card-content>
    </md-card>
    <div class="fixed-action-btn">
        <button id="fb" md-fab (click)="returnToPaymentsComponent()">
            <md-icon class="color-button-icon">keyboard_arrow_left</md-icon>
        </button>
    </div>
</div>