<md-card style="box-shadow: none">
    <md-card-title>{{'ENABLE_DISABLED.BTN_TOGGLE_MSG' | translate}}</md-card-title>
    <md-card-subtitle>{{'ENABLE_DISABLED.DIALOG_SUBTITLE' | translate}}</md-card-subtitle>
    <md-card-content>
        <table width="100%">
            <tbody>
                <tr *ngFor="let restaurant of data.one.restaurants">
                    <td>{{getRestaurantName(restaurant.restaurantId)}}</td>
                    <td>
                        <md-slide-toggle style="float:right" [checked]="restaurant.isAvailable" (change)="updateAvailableFlag(restaurant.restaurantId)"></md-slide-toggle>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
    <md-card-actions align="end">
        <button md-raised-button class="button-secundary" (click)="cancel()">{{ 'ENABLE_DISABLED.CLOSE_DIALOG' | translate }}</button>
    </md-card-actions>
</md-card>