<div>
    <div class="ion-content-custom">

        <ion-card *ngIf="_paymentCreated">
            <ion-card-content>
                <ion-list no-lines>
                    <button ion-item style="padding-left: 0;" (click)="goToPaymentInfo()">
                        <div class="item-block">
                            <img class="img-cards" src="assets/img/payment-pending.png">
                            <div class="header-title">
                                <div class="label">
                                    <p>{{'MOBILE.PAYMENTS.PENDING_PAYMENT_MSG' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </button>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <ion-list no-lines>
                    <button ion-item style="padding-left: 0;" (click)="goToPaymentDetails()">
                        <div class="item-block">
                            <img class="img-cards" src="assets/img/view-detail.png">
                            <div class="header-title">
                                <div class="label">
                                    <p>{{'MOBILE.PAYMENTS.VIEW_DETAIL' | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </button>  
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <ion-list no-lines>
                    <button ion-item style="padding-left: 0;" (click)="goToAddOrders()">
                        <div class="item-block">
                            <img class="img-cards" src="assets/img/add-order.png">
                            <div class="header-title">
                                <div class="label">
                                    <p>{{'MOBILE.PAYMENTS.ADD_ORDER' | translate}}</p>
                                </div>
                                <ion-icon *ngIf="_showAlertToConfirm" style="color: red" name="information-circle"></ion-icon>
                                <ion-icon *ngIf="_showAlertWithPendingConf" style="color: darkgoldenrod" name="information-circle"></ion-icon>
                            </div>
                        </div>
                    </button>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <ion-list no-lines>
                    <button ion-item style="padding-left: 0;" (click)="presentModal()">
                        <div class="item-block">
                            <img *ngIf="_paymentMethod == 'MOBILE.PAYMENTS.SELECT_PAYMENT_METHOD'" class="img-cards" src="assets/img/payment-methods.png">
                            <img *ngIf="_paymentMethod == 'PAYMENT_METHODS.CASH'" class="img-cards" src="assets/img/pago.png">
                            <img *ngIf="_paymentMethod == 'PAYMENT_METHODS.CREDIT_CARD'" class="img-cards" src="assets/img/pago_tarjeta_credito.png">
                            <img *ngIf="_paymentMethod == 'PAYMENT_METHODS.DEBIT_CARD'" class="img-cards" src="assets/img/pago_tarjeta_debito.png">
                            <img *ngIf="_paymentMethod == 'PAYMENT_METHODS.ONLINE'" class="img-cards" src="assets/img/payment-online.png">
                            <div class="header-title">
                                <div class="label">
                                    <span>
                                        {{'MOBILE.PAYMENTS.MODAL_TITLE' | translate}}
                                    </span>
                                    <p>{{_paymentMethod | translate}}</p>
                                    <p>{{'MOBILE.PAYMENTS.TIP' | translate}}&nbsp;{{_tipTotal}} {{_currencyCode}}</p>
                                </div>
                            </div>
                        </div>
                    </button>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>

    <div class="ion-footer-custom" padding>
        <h3 style="display: inline-block;">{{'MOBILE.PAYMENTS.TOTAL_BILL' | translate}}</h3>
        <h3 style="display: inline-block; position: absolute; right: 15px; -webkit-margin-before: 0em;">{{_totalToPayment}} {{_currencyCode}}</h3>    
        <div *ngIf="(_orders | async)?.length > 0">
            <button [disabled]="_outstandingBalance" ion-button block outline (click)="pay()">{{'MOBILE.PAYMENTS.PAY_BTN' | translate}}</button>
        </div>
        <div showWhen="ios" style="height: 42px">
        </div>
    </div>
</div>