<md-card>
    <div class="orders-to-confirm">
        <md-card-subtitle>{{'ORDER_PAYMENT_TRANS.ORDER_TO_CONFIRM' | translate}}</md-card-subtitle>
        <p *ngIf="(_ordersToConfirm | async)?.length <= 0">{{'ORDER_PAYMENT_TRANS.NO_ORDERS' | translate}}</p>
        <div *ngFor="let orderCon of _ordersToConfirm | async">
            <md-toolbar class="order">
                <i class="fa fa-list-alt" aria-hidden="true" class="order-icon"></i>
                <span class="order-code">{{'ORDER_PAYMENT_TRANS.ORDERS' | translate}} # {{orderCon.code}}</span>
                <span>{{'ORDER_PAYMENT_TRANS.TOTAL' | translate}}: {{orderCon.totalPayment}} {{_currencyCode}}</span>
                <span class="app-flex-filler"></span>
                <button md-raised-button class="confirm-button" (click)="confirmOrderToPay(orderCon)">{{'ORDER_PAYMENT_TRANS.CONFIRM' | translate}}</button>
            </md-toolbar>
        </div>
    </div>
    <div class="orders-to-pay">
        <md-card-subtitle>{{'ORDER_PAYMENT_TRANS.PENDING_ORDERS' | translate}}</md-card-subtitle>
        <p *ngIf="(_ordersWithPendingConfirmation | async)?.length <= 0">{{'ORDER_PAYMENT_TRANS.NO_ORDERS' | translate}}</p>  
        <div *ngFor="let orderPenCon of _ordersWithPendingConfirmation | async">
            <md-toolbar class="order">
                <i class="fa fa-list-alt" aria-hidden="true" class="order-icon"></i>
                <span class="order-code">{{'ORDER_PAYMENT_TRANS.ORDERS' | translate}} # {{orderPenCon.code}}</span>
                <span class="app-flex-filler"></span>
                <span class="order-status">{{orderPenCon.status | translate}}</span>
            </md-toolbar>
        </div>
    </div>  
    <br/>
    <button md-raised-button color="primary" (click)="open()">{{'ORDER_PAYMENT_TRANS.CONSULT_TABLE_ORDERS' | translate}}</button>
</md-card>