.order {
    background-color: #114B5F;
    color: white;
    margin-bottom: 1%;
}

.order-code {
    margin-right: 1rem;
}

.confirm-button {
    margin-left: 5%;
    color: black;
}

.order-icon {
    margin-right: 1%;
}

.orders-to-confirm{
    width: 46%;
    display: inline-block;
}

.orders-to-pay{
    width: 44%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
}

.fixed-action-btn {		
    position: relative;

    button {
        position: absolute;
        bottom: 30px;
        right: 35px;
        width: 56px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
 }

.main-card{
    width: 85%;
    margin: 0 auto;

    .image{
        border-radius: 50%; 
        width: 100px; 
        height: 100px;
    }

    .title{
        font-size: 1.5rem;
        color: #114b5f;
        font-weight: 500;
    }

    .subtitle{
        font-size: 1rem;
    }

    .button{
        width: 30%;
    }
}