.order {
    background-color: #114B5F;
    color: white;
    margin-bottom: 1%;
}

.order-code {
    margin-right: 1rem;
}


.confirm-button {
    margin-left: 5%;
    color: black;
}

.order-icon {
    margin-right: 1%;
}