.order {
    background-color: #114B5F;
    color: white;
    margin-bottom: 1%;
}

.order-code {
    margin-right: 1rem;
}


.confirm-button {
    margin-left: 5%;
    color: black;
}

.order-icon {
    margin-right: 1%;
}

.orders-to-confirm{
    width: 50%;
    display: inline-block;
    border-right: 1px solid #7E7E7E;
}

.orders-to-pay{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
}