//@import "public/css/animate";

$sidenav-primary-color : #F5F5F5;
$sidenav-secondary-color : #EEEEEE;
$menu-navegation-color : #F5F5F5;

$sidenav-width: 225px;

.img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mat-sidenav-focus-trap>.cdk-focus-trap-content{
    overflow-y: hidden;
}

.color-button-icon {
    color: white;
}

.quantity-count{
    display: inline-block;
    width: 100px;
}

.inline-block {
    display: inline-block;
}

.orders-bar {
    margin-bottom: 1%; 
    margin-top: 20px;
    width: auto;
}

.customer-order {
    background-color: white;
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mt-div {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .customer-order {
        height: 100%;
    }

    .mt-div {
        padding: 16px;
        display: grid;
    }
}

.order-icon {
    margin-right: 1%;
}

.order-code {
    margin-right: 1rem;
}

.order-status {
    float: right;
}

.item-image {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 0;
}

.item-unavailable {
    color: #D50000;
    font-weight: bold;
}

.item-icon {
    color:#D50000;
}

.other-order {
    background-color: #114B5F;
    color: white;
    margin-bottom: 1%;
}

.available-button{
    color: #D50000; 
    font-weight: bold;
    display: inline-block;
    margin-left: 10%;
}
         
.description {
    color: black;
}
            
.price {
    font-weight: bold;
    color: black;
}

mat-tab-group {
    width: 348px;
}

.addition-message{
    display: inline-block;
    font-size: smaller;
}

.order-item-garnishFood{
    display: inline-block;
    color: darkgoldenrod;
}

.order-item-additions{
    display: inline-block;
    color: darkgoldenrod;
}