<div class="main">
    <div class="detail-info">
        <md-card class="card-info">
            <md-list>
                <md-list-item>
                    <img md-list-avatar class="image" src="/images/platos-orden.png">
                    <h2 md-line class="card-title">Detalle Mesa # {{_tableNumber}}</h2>
                    <p md-line class="card-subtitle">Te presentamos los usuarios que se encuentran actualmente en la Mesa</p>
                </md-list-item>
            </md-list>
        </md-card>
        <div *ngFor="let userDetail of _userDetails | async">
            <div *ngFor="let user of _users | async">
                <div *ngIf="userDetail.user_id === user._id">
                    <div *ngIf="user.services.facebook">
                        <md-card>
                            <md-list>
                                <md-list-item>
                                    <img md-list-avatar class="image" src="{{getUserImage(user)}}">
                                    <a href="{{user.services.facebook.id}}" target="_blank"><h2 md-line class="card-title">{{user.services.facebook.name}}</h2></a>
                                    <p md-line class="card-subtitle">{{user.services.facebook.email}}</p>
                                    <p md-line class="customer-consumption">Total Consumido: {{getTotalConsumption(user._id)}} {{_currencyCode}}</p>
                                    <button md-raised-button class="primary-button card-button penalize-button" (click)="openCustomerPenalize(user)">Penalizar</button>
                                </md-list-item>
                            </md-list>
                        </md-card>
                    </div>
                    <div *ngIf="user.username">
                        <md-card>
                            <md-list>
                                <md-list-item>
                                    <img md-list-avatar class="image" src="{{getUserImage(user)}}">
                                    <h2 md-line class="card-title">{{user.username}}</h2>
                                    <p md-line class="card-subtitle">{{user.emails[0].address}}</p>
                                    <p md-line class="customer-consumption">Total Consumido: {{getTotalConsumption(user._id)}} {{_currencyCode}}</p>
                                    <button md-raised-button class="primary-button card-button penalize-button" (click)="openCustomerPenalize(user)">Penalizar</button>
                                </md-list-item>
                            </md-list>
                        </md-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <button id="fb" md-fab (click)="returnTableControl()">
            <md-icon class="color-button-icon">keyboard_arrow_left</md-icon>
        </button>
    </div>
</div>