<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of _items | async">
    <div class="crop">
      <img src="{{getItemImage(item._id)}}" style="display:inline-block">
    </div>
    <ion-card class="ion-card-custom">
      <ion-card-content>
        <ion-card-title>{{item.name}}</ion-card-title>
        <p class="item-paragraph-custom" style="margin-bottom: 10px">
          {{item.description}}
        </p>
        <div>{{setMaxGarnishFoodElements(item.garnishFoodQuantity)}}</div>
        <ion-list>
          <ion-item style="padding-left: 0px">
            <ion-label>
              {{'MOBILE.SECTIONS.UNIT_PRICE' | translate}} <span style="color: #666"> {{_unitPrice}} COP</span>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="item.isAvailable" style="padding-left: 0px">
              {{'MOBILE.SECTIONS.QUANTITY' | translate}} <span style="color: #666; font-size: initial"> {{_quantityCount}}</span>
              <button ion-button item-right icon-left (click)="removeCount()" [disabled]="_disabledMinusBtn">
                <ion-icon style="padding-right: 0px" name="remove"></ion-icon>
              </button>
              <button ion-button item-right icon-left style="margin-right: 0px;" (click)="addCount()">
                <ion-icon style="padding-right: 0px" name="add"></ion-icon> 
              </button>
          </ion-item>
        </ion-list>

        <p *ngIf="!item.isAvailable" class="item-paragraph-custom" style="margin-top: 15px;  color: #000">
          {{'MOBILE.SECTIONS.ITEM_UNAVAILABLE' | translate}}
        </p>
        <button ion-button clear block icon-left class="button-secundary btn-size-custom" *ngIf="item.observations && item.isAvailable"
          (click)="presentModal()" style="text-transform: inherit; margin-bottom: 15px">
          <ion-icon name="chatboxes" *ngIf="_observations != ''"></ion-icon>
          {{_observations != '' ? _observations.substring(0, 20)+ '...': 'MOBILE.SECTIONS.OBSERVATIONS' | translate}}
        </button>
          <form [formGroup]="_newOrderForm" *ngIf="item.isAvailable">
            <div *ngIf="item.garnishFoodIsAcceped">
              <h3 class="custom-padding">{{'MOBILE.SECTIONS.GARNISHES' | translate}}</h3>
              <p>{{'MOBILE.SECTIONS.MAX_GARNISH' | translate}} {{item.garnishFoodQuantity}}</p>
              <div formGroupName="garnishFood">
                <div *ngFor="let itemGarnish of item.garnishFood">
                  <div *ngFor="let garnish of _garnishes | async">
                    <ion-item class="ion-item-cust" style="padding-left: 0px" *ngIf="itemGarnish ==  garnish._id">
                      <ion-label style="white-space: normal">{{garnish.name}} - <span style="color: #666">{{garnish.price}} COP x {{_quantityCount}}</span></ion-label>
                      <ion-checkbox [formControlName]="garnish.name" (ionChange)="calculateFinalPriceGarnishFood($event, garnish.price)" color="primary"
                        [class.invalid]="!_newOrderForm.controls.garnishFood.valid"></ion-checkbox>
                    </ion-item>
                  </div>
                </div>
              </div>
              <p *ngIf="_showGarnishFoodError" style="color: red; margin-bottom: 5px">{{'MOBILE.SECTIONS.SELECT_MAX_VALID' | translate}} {{item.garnishFoodQuantity}} {{'MOBILE.SECTIONS.GARNISHES'
                | translate}}</p>
            </div>
            <br/>
            <div *ngIf="item.additionsIsAccepted">
              <h3 class="custom-padding">{{'MOBILE.SECTIONS.ADDITIONS' | translate}}</h3>
              <div formGroupName="additions">
                <div *ngFor="let itemAddition of item.additions">
                  <div *ngFor="let addition of _additions | async">
                    <ion-item class="ion-item-cust" style="padding-left: 0px" *ngIf="itemAddition ==  addition._id">
                      <ion-label style="white-space: normal">{{addition.name}} - <span style="color: #666">{{addition.price}} COP x {{_quantityCount}}</span></ion-label>
                      <ion-checkbox [formControlName]="addition.name" (ionChange)="calculateFinalPriceAddition($event, addition.price)" color="primary"
                        [class.invalid]="!_newOrderForm.controls.additions.valid"></ion-checkbox>
                    </ion-item>
                  </div>
                </div>
              </div>
            </div>
          </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="ion-footer-custom" padding>
  <ion-label style="float: left; font-size: large; margin-top: 0px">{{'MOBILE.SECTIONS.TOTAL' | translate}}{{_finalPrice}} COP </ion-label>
  <div>
    <button *ngIf="_showAddBtn" ion-button block [disabled]="_disabledAddBtn" (click)="addItemToOrder()">{{'MOBILE.SECTIONS.ADD_TO_ORDER' | translate}}</button>
  </div>
</ion-footer>