#page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: table;
    font-family: "Open Sans",Arial,sans-serif;
    height: 100%;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 767px){
#page.mobile{
    background: url('/images/landing-1.png') no-repeat center center;
}
}
.section {
    display: block;
}

#page .section>.container {
    padding-bottom: 28px;
    padding-top: 24px;
}

.content{
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 0 20px;
    width: 320px;
}

.heading {
    font-size: 12px;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 10px;
}

@media only screen and (max-width: 767px)
{
.visible-phone {
    display: block!important;
}
}

button[md-raised-button]{
  width: 90%;
  margin-top: 2vh;
}