<div id="page" class="mobile">
    <header class="section" id="section">
        <div class="container">
            <img class="signup-logo" src="/images/logo_iurest_white.png" [routerLink]="['/']">
        </div>

    </header>

    <div class="content">
        <div class="heading">
            <h1>
                {{'GO_TO_STORE.TITTLE' | translate}}
                <br class="visible-phone"/>
                {{'GO_TO_STORE.SUB_TITTLE' | translate}}
            </h1>
            <h2>
                {{'GO_TO_STORE.CONTENT' | translate}}
            </h2>
        </div>
    </div>
    
    <md-card style="background-color: transparent; box-shadow: 0 0">
        <md-card-content>
            <button md-raised-button class="button-primary" type="submit">
                {{'GO_TO_STORE.BUTTON' | translate}} Iurest
            </button>
        </md-card-content>
    </md-card>
</div>