<md-card style="box-shadow: none">
    <md-card-title>{{ 'WAITER_CALL.TITLE_PROMPT' | translate }}</md-card-title>
    <md-card-content>
        <div style="width: 250px">
            {{ 'WAITER_CALL.CONTENT_PROMPT' | translate }}
        </div>
    </md-card-content>
    <md-card-actions align="end">
        <button md-raised-button class="secondary-button" (click)="cancel()">{{ 'WAITER_CALL.NO_ANSWER' | translate }}</button>
        <button md-raised-button class="primary-button" (click)="closeWaiterCall()" type="submit">{{ 'WAITER_CALL.YES_ANSWER' | translate }}</button>
    </md-card-actions>
</md-card>