<ion-header>
  <ion-navbar>
      <ion-title>
          <img id="signup-logo" src="assets/img/logo_iurest_mobile_white.png">
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list inset>
        <ion-item *ngFor="let user of _userObservable | async">
            <ion-avatar item-left>
                <img src="{{ getUsetImage() }}">
            </ion-avatar>
            <h2 *ngIf="user.username">{{user.username}}</h2>
            <h2 *ngIf="user.profile.name">{{user.profile.name}}</h2>
        </ion-item>
    </ion-list>

    <ion-list no-lines class="items-list_custom">
        <button ion-item (click)="goToSettings()">
            <ion-avatar item-left>
                <img src="assets/img/settings.png">
            </ion-avatar>
            {{'MOBILE.SETTINGS.TITTLE' | translate}}
        </button>
        <button ion-item (click)="goToPaymentsHistory()">
            <ion-avatar item-left>
                <img src="assets/img/payment-history.png">
            </ion-avatar>
            {{'MOBILE.PAYMENTS_HISTORY.TITLE' | translate}}
        </button>
    </ion-list>
</ion-content>

<ion-footer padding>
    <button ion-button block outline (click)="showComfirmSignOut()">{{'MOBILE.SETTINGS.SIGN_OUT' | translate}}</button>
    <div showWhen="ios" style="height: 42px"></div>
</ion-footer>
