<div style="width: 80%; margin: 0 auto;">
    <div *ngFor="let restaurant of _restaurants | async">
        <mat-card>
            <mat-list>
                <mat-list-item>
                    <img mat-list-avatar style="border-radius: 50%; width: 100px; height: 100px;" src="{{ getRestaurantImage( restaurant._id ) }}">
                    <h2 mat-line style="font-size: 1.3rem;"> {{restaurant.name}} </h2>
                    <p mat-line style="font-size: 1rem;">
                        <mat-icon style="vertical-align: middle;color: #EF5350">location_on</mat-icon>
                        <span>{{_restaurantCountry}}, {{_restaurantCity}}</span>
                    </p>
                    <button mat-raised-button class="primary-button" style="width: 25%;">Ver Menu</button>
                </mat-list-item>
            </mat-list>
        </mat-card>
        <div *ngIf="(_restaurantsProfile | async)?.length <= 0">
            <mat-card mat-cell="12" class="demo-card demo-basic" style="margin: 0 auto">
                <mat-card-content>
                    <div class="card_initial">
                        <div class="card_initial has-image">
                            <div class="card_initial-image-container">
                                <img class="card_initial-image" 
                                    src="/images/restaurantes.png"/>
                            </div>
                            <div class="card_initial-copy">
                                <div class="card_initial-tagline">
                                    Lo sentimos. Este restaurante no ha configurado su perfil. =(
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <span *ngFor="let restaurantProfile of _restaurantsProfile | async">
            <ng-template [ngIf]="restaurant._id === restaurantProfile.restaurant_id">
                <div>
                    <mat-card style="width: 42%;height: 377px;overflow: scroll;display: inline-block;">
                        <mat-card-title>Sobre el Restaurante</mat-card-title>
                        <mat-card-content>{{restaurantProfile.restaurant_description}}</mat-card-content>
                    </mat-card>
                    <div style="width: 50%;display: inline-block;vertical-align: top;margin-left: 2.7%;">
                        <mat-card *ngIf="(_restaurantProfileImgThumbs | async)?.length <= 4">
                            <mat-card-title>Fotos</mat-card-title>
                            <mat-card-content>
                                <img *ngFor="let restProfileImgeThumb of _restaurantProfileImgThumbs | async" md-card-image style="margin-right: 1%;" src="{{restProfileImgeThumb.url}}">
                            </mat-card-content>
                        </mat-card>
                        <mat-card *ngIf="(_restaurantProfileImgThumbs | async)?.length >= 5">
                            <mat-card-title>Fotos</mat-card-title>
                            <mat-card-content>
                                <div ng2-carouselamos [items]="_profileImgsThumbs" [width]="380" [$prev]="prev" [$next]="next" [$item]="item"></div>
                                <ng-template style="margin: 30px;" #prev>
                                    <mat-icon>keyboard_arrow_left</mat-icon>
                                </ng-template>
                                <ng-template style="margin: 30px;" #next>
                                    <mat-icon>keyboard_arrow_right</mat-icon>
                                </ng-template>
                                <ng-template #item let-item let-i="index">
                                    <img style="margin-right: 1%;" src="{{ item.url }}">      
                                </ng-template>
                            </mat-card-content>
                        </mat-card>
                        <mat-card>
                            <mat-card-title style="margin: 0;">Contacto</mat-card-title>
                            <mat-card-content>
                                <mat-list>
                                    <mat-list-item>
                                        <p mat-line style="font-size: 1rem;">
                                            <mat-icon style="vertical-align: middle;color: #EF5350">language</mat-icon>
                                            <a target="_blank" href="{{restaurantProfile.web_page}}">{{restaurantProfile.web_page}}</a>
                                        </p>
                                        <p mat-line style="font-size: 1rem;">
                                            <mat-icon style="vertical-align: middle;color: #EF5350">call</mat-icon>
                                            <span>{{restaurantProfile.phone}}</span>
                                        </p>
                                        <p mat-line style="font-size: 1rem;">
                                            <mat-icon style="vertical-align: middle;color: #EF5350">email</mat-icon>
                                            <span>{{restaurantProfile.email}}</span>
                                        </p>
                                    </mat-list-item>
                                </mat-list>
                                <div style="text-align: -webkit-center; color: #EF5350">
                                    <button mat-icon-button (click)="openSchedule(restaurantProfile)">
                                        <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                                    </button>
                                    <button mat-icon-button (click)="openFacebookLink(restaurantProfile.social_networks.facebook)">
                                        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                                    </button>
                                    <button mat-icon-button (click)="openTwitterLink(restaurantProfile.social_networks.twitter)">
                                        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                                    </button>
                                    <button mat-icon-button (click)="openInstagramLink(restaurantProfile.social_networks.instagram)">
                                        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </ng-template>
        </span>
    </div>
</div>